<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>赛尔康标签固定数据维护</title>
    <link rel="stylesheet" href="../../Scripts_UI/layui/css/layui.css" media="all">
    <link href="../../Content/layui-extend.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-2.1.1.min.js" charset="utf-8"></script>   
    <style>
        .demo-carousel {
            height: 200px;
            line-height: 200px;
            text-align: center;
        }
    </style>
</head>
<body>
    <!-- layui 数据配置表-->
    <table id="demo" lay-filter="test"></table>

 <!-- layui 添加数据弹窗-->
<div id="add-data" style="display: none;">
    <div class="my-form">
        <form class="layui-form" action="##" method="POST" lay-skin="line" id="Add_data">
           <div class="layui-form-item my-form-item">
            <label class="layui-form-label"style="width:90px;">物料编号：</label>
                <div class="layui-input-inline">
                    <input type="text" id="d_wlbh" name="d_wlbh" value="" lay-verify="required" placeholder="Part No" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item my-form-item">
                <label class="layui-form-label"style="width:90px;">品名：</label>
                <div class="layui-input-inline">
                    <input type="text" id="d_pm" name="d_pm" value="" lay-verify="required" placeholder="Item" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item my-form-item">
                <label class="layui-form-label"style="width:90px;">数量：</label>
                <div class="layui-input-inline">
                    <input type="text" id="d_slmax" name="d_slmax"  lay-verify="required" placeholder="PC QTY" class="layui-input">
                </div>
            </div>
          <div class="layui-form-item my-form-item">
            <label class="layui-form-label" style="width:90px;">最小包装数量：</label>
                <div class="layui-input-inline">
                    <input type="text" id="d_slmin" name="d_slmin"   placeholder="PC SPQ" class="layui-input">
                </div>
            </div>
             <div class="layui-form-item my-form-item">
                <label class="layui-form-label"style="width:90px;">供应商料号：</label>
                <div class="layui-input-inline">
                    <input type="text" id="d_gyslh"  name="d_gyslh" lay-verify="required"  placeholder="MPN" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item my-form-item">
                <div class="layui-input-block item">
                    <button class="layui-btn" lay-submit lay-filter="submit_post" id="submit_post" type="submit">保存</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- layui 编辑数据弹窗 -->
    <div id="edit-data" style="display: none;">
    <div class="my-form">
        <form class="layui-form" action="##" method="POST" lay-skin="line" id="edit_data" lay-filter="edit_data">
           <div class="layui-form-item my-form-item" style="display:none;">
            <label class="layui-form-label"style="width:90px;">序列ID：</label>
                <div class="layui-input-inline">
                    <input type="text" id="d_id_e" name="d_id_e" value="" lay-verify="required" placeholder="ID" class="layui-input">
                </div>
            </div>
           <div class="layui-form-item my-form-item">
            <label class="layui-form-label"style="width:90px;">物料编号：</label>
                <div class="layui-input-inline">
                    <input type="text" id="d_wlbh_e" name="d_wlbh_e" value="" lay-verify="required" placeholder="Part No" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item my-form-item">
                <label class="layui-form-label"style="width:90px;">品名：</label>
                <div class="layui-input-inline">
                    <input type="text" id="d_pm_e" name="d_pm_e" value="" lay-verify="required" placeholder="Item" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item my-form-item">
                <label class="layui-form-label"style="width:90px;">数量：</label>
                <div class="layui-input-inline">
                    <input type="text" id="d_slmax_e" name="d_slmax_e"  lay-verify="required" placeholder="PC QTY" class="layui-input">
                </div>
            </div>
          <div class="layui-form-item my-form-item">
            <label class="layui-form-label" style="width:90px;">最小包装数量：</label>
                <div class="layui-input-inline">
                    <input type="text" id="d_slmin_e" name="d_slmin_e"   placeholder="PC SPQ" class="layui-input">
                </div>
            </div>
             <div class="layui-form-item my-form-item">
                <label class="layui-form-label"style="width:90px;">供应商料号：</label>
                <div class="layui-input-inline">
                    <input type="text" id="d_gyslh_e"  name="d_gyslh_e" lay-verify="required"  placeholder="MPN" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item my-form-item">
                <div class="layui-input-block item">
                    <button class="layui-btn" lay-submit lay-filter="submit_post_e" id="submit_post_e" type="submit">保存</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>


    <div class="layui-tab layui-tab-brief" lay-filter="demo">
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">

                <div class="layui-carousel" id="test1">
                    <div carousel-item>
                        <div>
                            <p class="layui-bg-green demo-carousel">本后台系统UI为layui！</p>
                        </div>
                        <div>
                            <p class="layui-bg-red demo-carousel">本系统不适用谷歌浏览器请勿用谷歌浏览器进行标签打印</p>
                        </div>
                        <div>
                            <p class="layui-bg-blue demo-carousel">有任何使用上的问题即时反馈</p>
                        </div>
                        <div>
                            <p class="layui-bg-orange demo-carousel">后续功能正在增加完善中</p>
                        </div>
                        <div>
                            <p class="layui-bg-cyan demo-carousel">多沟通！多沟通！多沟通！重要的事情说三遍</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script type="text/html" id="toolbarGroup">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm layui-icon" lay-event="zfei">&#x1007;作废</button>
            <button class="layui-btn layui-btn-sm layui-icon" lay-event="add">&#xe624;添加</button>
            <button class="layui-btn layui-btn-sm layui-icon" lay-event="edit">&#xe642;编辑</button>
            <button class="layui-btn layui-btn-sm layui-icon" lay-event="flush">&#xe669;刷新</button>
        </div>
    </script>

    <script src="../../Scripts_UI/layui/layui.all.js" charset="utf-8"></script>

    <script>
        layui.config({
            version: '1594038786020' //为了更新 js 缓存，可忽略
        });
        layui.use(['laypage', 'layer', 'table', 'carousel', 'upload', 'element'], function () {
            var laydate =
            laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            , table = layui.table //表格
            , carousel = layui.carousel //轮播
            , element = layui.element //元素操作
            , form = layui.form //表单

            //向世界问个好
            layer.msg('欢迎使用艾华集团标签打印系统');

            //监听Tab切换
            element.on('tab(demo)', function (data) {
                layer.tips('切换了 ' + data.index + '：' + this.innerHTML, this, {
                    tips: 1
                });
            });


            //执行一个 table 实例
            var renderTable = function () {
                table.render({
                    elem: '#demo'
                  , url: '../Seierkang/searchdata'
                    //, where: { n_state: document.getElementById("demoReload").value }
                  , filter: true
                  , sort: true
                , colFilterRecord: true
                , toolbar: '#toolbarGroup' //指向自定义工具栏模板选择器
                  , title: '赛尔康固定数据配置表'
                      , response: {
                          statusName: 'code' //规定数据状态的字段名称，默认：code
                        , statusCode: 200 //规定成功的状态码，默认：0
                      }
                      , parseData: function (res) { //res 即为原始返回的数据
                          return {
                              "code": res.Tables[0].Code, //解析接口状态s
                              "data": res.Tables[0].Rows, //解析数据列表
                              "msg": res.Tables[0].Name, //解析提示文本
                              "count": res.Tables[1].Rows[0].zongshu, //解析数据长度
                          };
                      }
                      , cols: [[ //表头
                          { type: 'checkbox', fixed: true }
                        , { field: 'n_id', title: '序号', width: 80, fixed: true }
                        , { field: 's_id', title: '唯一标识', width: 110, hide: true }
                        , { field: 's_wlbh', title: '物料编号', width: 150 }
                        , { field: 's_pm', title: '品名', width: 200 }
                        , { field: 'n_slmax', title: '数量(Q)', width: 90 }
                        , { field: 'n_slmin', title: '最小包装数量', width: 130 }
                        , { field: 's_gyslh', title: '供应商料号', width: 240 }
                        , { field: 's_UserName', title: '创建人', width: 120 }
                        , { field: 's_createtime', title: '创建时间', width: 160 }
                        , { field: 'updatorname', title: '更新人', width: 120 }
                        , { field: 's_updatetime', title: '最后更新时间', width: 160 }
                      ]]
                    , n_id: 'testReload'
                  , page: true
                  , limits: [10, 50, 100, 500, 1000, 5000, 10000]
                });
            }
            renderTable();
            //执行一个轮播实例
            carousel.render({
                elem: '#test1'
              , width: '100%' //设置容器宽度
              , height: 200
              , arrow: 'none' //不显示箭头
              , anim: 'fade' //切换动画方式
            });

            //头工具栏事件
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'zfei':
                        if (checkStatus.data.length > 0) {
                            Zuofei(checkStatus);
                        } else {
                            layer.msg('请选择需要作废的记录', { icon: 0 });
                        }
                        break;
                    case 'add':
                        AddData();
                        break;
                    case 'edit':
                        if (checkStatus.data.length > 0 && checkStatus.data.length == 1) {
                            layer.open({
                                title: '编辑',
                                /*如果是外部的html，type2，内部，type1*/
                                type: 1,
                                btnAlign: 'c',
                                offset: 'auto',
                                area: ['360px', '400px'],
                                content: $("#edit-data").html()
                                //未做的是去监听表单提交，给后台发送ajax请求
                            })
                            form.render();
                            form.val("edit_data", { //formTest 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
                                "d_id_e": checkStatus.data[0].n_id
                                ,"d_wlbh_e": checkStatus.data[0].s_wlbh // "name": "value"
                                , "d_pm_e": checkStatus.data[0].s_pm
                                , "d_slmax_e": checkStatus.data[0].n_slmax
                                , "d_slmin_e": checkStatus.data[0].n_slmin
                                , "d_gyslh_e": checkStatus.data[0].s_gyslh
                            });
                            Edit(checkStatus);
                        }
                        else {
                            layer.msg('请选中需要编辑修改的数据，编辑功能只支持单条编辑！', { icon: 0 });
                        }
                        break;
                    case 'flush':
                        renderTable();
                        break;
                };
            });
            //作废(多选)
            function Zuofei(obj) {
                var str = "";
                var msg = "";
                var l = obj.data.length;
                for (var i = 0; i < l; i++) {
                    str += "'" + obj.data[i].n_id + "',";
                }
                layer.confirm('确定要作废' + l + '条数据吗?', { icon: 2, title: '提示' }, function (index) {
                    layui.jquery.ajax({
                        type: "POST",
                        url: '../Seierkang/ZuofeiData',
                        data: { delstr: str },
                        dataType: "JSON",
                        success: function (res) {
                            if (res > 0) {
                                var msg = "成功作废" + res + "条数据！";
                                layer.msg(msg, { icon: 6, time: 1000 }, function () {
                                    layer.close(index);
                                    renderTable();
                                });
                            }
                            else {
                                layer.msg("作废失败", { icon: 5 });
                            }
                        }
                    });
                });
            }
            //弹出添加弹窗
            function AddData() {
                //layer.msg('测试中！', { icon: 0 });
                layer.open({
                    title: '添加数据',
                    offset: 'auto',
                    /*如果是外部的html，type2，内部，type1*/
                    type: 1,
                    btnAlign: 'c',
                    area: ['360px', '400px'],
                    //shade: [0.8, '#393D49'],
                    content: $("#add-data").html()
                    //未做的是去监听表单提交，给后台发送ajax请求
                })
                form.render();
            }
 
            //添加赛尔康配置数据
            form.on('submit(submit_post)', function (data) {

                var data = data.field;

                layui.jquery.ajax({
                    type: "POST",
                    url: '../Seierkang/AddSererkangData',
                    data: data,
                    dataType: "JSON",
                    success: function (res) {
                        if (res == '1') {
                            layer.msg("添加成功", { icon: 6, time: 900 }, function () {
                                layer.closeAll();
                                renderTable();
                            });
                        } else if (res == 0) {
                            layer.msg("添加失败,物料编号已存在", { icon: 5 });
                        }
                        else {
                            layer.msg("添加失败,输入参数中含有非法字符或者存在网络波动", { icon: 5 });
                        }
                    }
                });
                return false;
            })
            //赛尔康数据配置弹窗确认按钮
            form.on('submit(submit_post_e)', function (data) {

                var data = data.field;
                layui.jquery.ajax({
                    type: "POST",
                    url: '../Seierkang/AddSererkangDataE',
                    data: data,
                    dataType: "JSON",
                    success: function (res) {
                        if (res == '1') {
                            layer.msg("编辑修改成功", { icon: 6, time: 900 }, function () {
                                layer.closeAll();
                                renderTable();
                            });
                        } else if (res == 0) {
                            layer.msg("编辑修改失败,物料编号已存在", { icon: 5 });
                        } else {
                            layer.msg("编辑修改失败,输入参数中含有非法字符或者存在网络波动", { icon: 5 });
                        }
                    }
                });
                return false;
            })

        });

    </script>
</body>
</html>
