<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>台达客户标签打印</title>
    <link rel="stylesheet" href="../../Scripts_UI/layui/css/layui.css" media="all">
    <style>
        body {
        }

        .demo-carousel {
            height: 200px;
            line-height: 200px;
            text-align: center;
        }

        .onecode-text {
            text-align: left;
            border: 1px solid #000000;
            border-left-style: solid;
            border-right-style: hidden;
            border-bottom-style: hidden;
            font-size: 14px;
        }

        .onecode-msg {
            text-align: left;
            border: 1px solid #000000;
            border-left-style: solid;
            border-bottom-style: hidden;
            font-size: 14px;
        }

        .onecode-1 {
            text-align: left;
            border: 1px solid #000000;
            border-left-style: solid;
            border-bottom-style: hidden;
            font-size: 14px;
        }

        .onecode-2 {
            text-align: left;
            border: 1px solid #000000;
            border-left-style: solid;
            border-bottom-style: hidden;
            font-size: 14px;
        }


        .bot {
            border: 0px solid;
            padding: 5px 25px;
            font-size: 15px;
            margin: 5px 20px;
        }

        .font {
            font-weight: bold;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div id="layerDemo" style="margin-bottom: 0;">
        <div class="layui-btn-container" style="display: none;">
            <button data-method="notice" class="layui-btn">弹出标签使用方法以及更新说明</button>
        </div>
    </div>


    <!--芜湖吴江台达内外标签-->
    <div style="width: 100%; height: 430px; display: none" id="pint_wai">
        <div id="textarea" style="width: 400px; height: 360px; margin-top: 20px; line-height: 25px; margin-left: 50px; text-align: right; display: inline-block;">
            <div style="width: 400px;" class="font">
                厂内标签一维码:
				<input id="cnbqywm" type="text" onblur="Check();" />
            </div>
            <div class="font" style="width: 400px;">
                包装类型:
				<select id="packageType" onchange=";if(this.value == 0){document.getElementById('ddh').value = 'N/A';document.getElementById('fph').value = 'N/A'}if(this.value != 0){document.getElementById('ddh').value = '';document.getElementById('fph').value = ''};">
                    <option value="1">外箱</option>
                    <option value="0">内箱最小包装</option>
                </select>
            </div>
            <div style="width: 400px;" class="font">
                左侧BARCODE码内容:
            </div>
            <div style="width: 400px;" class="font">
                客户料号:
				<input id="khlh" type="text" />
            </div>
            <div style="width: 400px;" class="font">
                包装数量:
				<input id="sl" type="text" />
            </div>
            <div style="width: 400px;" class="font">
                单位:
				<input id="dw" type="text" value="PCE" />
            </div>
            <div class="font" style="width: 400px;">
                供应商代码:
                <input id="gysdm" type="text" value="207194" readonly />
            </div>
            <div style="width: 400px; position: relative; display: normal" class="font">
                <span>周期:</span>
                <span>
                    <select id="zq" onchange="document.getElementById('zq_inp').value = this.value;Getrq();" style="width: 200px;">
                        <option style="display: none;"></option>
                        <option value=""></option>
                    </select>
                </span>
                <input type="text" id="zq_inp" name="zq_inp" style="position: absolute; border: none; width: 180px; left: 202px; top: 4px;" value="" placeholder="请输入进行模糊查询..." onblur="mohusearch();">
            </div>
            <div class="font" style="width: 400px;">
                生产批号:
                <input id="scph" type="text" />
            </div>
            <div class="font" style="width: 400px;">
                贸易代码:
                <input id="mydm" type="text" value="01" readonly />
            </div>
            <div class="font" style="width: 400px;">
                订单号:
                <input id="ddh" type="text" />
            </div>
            <div class="font" style="width: 400px;">
                发票号:
                <input id="fph" type="text" />
            </div>
            <div style="width: 400px;" class="font">
                流水号:
                <input id="lsh1" type="text" style="width: 70px;" readonly />
                <input id="lsh2" type="text" style="width: 60px;" />
            </div>
            <div style="width: 400px;" class="font">
                右边内容:
            </div>
            <div class="font" style="width: 400px;">
                厂别:
                    <select id="cb" >
                        <option value="NCN1">NCN1(台达六厂郴州)</option>
                        <option value="NCC5">NCC5(台达六厂东莞)</option>
                        <option value="TPC5">TPC5(台达二厂)</option>
                        <option value="PWC1">PWC1(台达三厂)</option>
                        <option value="SLC1">SLC1(台达七厂)</option>
                        <option value="DY0149">DY0149(台达工业)</option>
                        <option value="PSB1">PSB1(泰国台达编码C202000929)</option>
                        <option value="PSB5">PSB5(泰国台达编码C201800930)</option>
                        <option value="SEI2">SEI2(DELTA ELECTRONICS INDIA)</option>
                    </select>
            </div>
            <div class="font" style="width: 400px;">
                有效期:
                <input id="yxq" type="text" />
            </div>
            <div style="width: 400px;" class="font">
                打印张数:
				<input type="number" id="numcount" oninput="if(value > 999 || value < 1 ){alert('打印张数范围在1到999之间！');value = ''}" />
            </div>
            <div style="width: 400px;" class="font">
                是否为遗漏补打:
					<label>
                        <input type="checkbox" name="ylbd" value="1">是</label>
            </div>
            <div style="width: 400px; height: 45px; text-align: right;">
                @* <button id="Eliminate" class="bot" style="border: 5px solid #ffd68c; display: inline-block; background-color: orange; color: white;">清空</button>*@
                <button id="Printing" class="bot" style="border: 5px solid #ffd68c; display: inline-block; background-color: seagreen; color: white;">打印</button>
            </div>
        </div>




        <!--右侧打印区域-->
        <div id="PrintArea" style="width: 80mm; height: 30mm; vertical-align: top; display: inline-block; margin-left: 20px; white-space: nowrap; font-family: SimSun,monospace;">
            <!--使用表格显示-->
            <table style="border: thin; width: 78mm; height: 28mm; margin-left: 4px; margin-top: 4px;" rules="rows">
                <tbody>
                    <tr style="height: 17px;">
                        <td colspan="1" rowspan="5" class="onecode-1" style="font-weight: bolder; text-align: center; width: 100px; border-right-style: hidden;">
                            <div style="width: 90px; margin: 0 auto" id="datamatrix" class="datamatrix"></div>
                        </td>
                        <td colspan="1" class="onecode-msg" style="width: 50px; text-align: right; border-right-style: hidden;">PLANT:</td>
                        <td colspan="2" class="onecode-1" id="cb_msg"></td>
                    </tr>

                    <tr style="height: 17px;">
                        <td colspan="1" class="onecode-msg" style="width: 50px; text-align: right; border-right-style: hidden;">VENDOR:</td>
                        <td colspan="2" class="onecode-msg" id="gysdm_msg"></td>
                    </tr>

                    <tr style="height: 17px;">
                        <td colspan="1" class="onecode-msg" style="width: 50px; text-align: right; border-right-style: hidden;">P/N:</td>
                        <td colspan="2" class="onecode-1" id="khlh_msg"></td>
                    </tr>

                    <tr style="height: 17px;">
                        <td colspan="1" class="onecode-msg" style="width: 50px; text-align: right; border-right-style: hidden;">QTY:</td>
                        <td colspan="2" class="onecode-msg" id="sl_msg"></td>
                    </tr>

                    <tr style="height: 17px;">
                        <td colspan="1" class="onecode-msg" style="width: 50px; text-align: right; border-right-style: hidden;">D/C:</td>
                        <td colspan="2" class="onecode-1" id="E_msg" style="white-space: pre;"></td>
                    </tr>

                    <tr style="height: 17px;">
                        <td colspan="2" class="onecode-msg" style="width: 150px; text-align: right; border-right-style: hidden; border-bottom-style: solid;">Expiration date:</td>
                        <td colspan="2" class="onecode-1" id="yxq_msg" style="border-bottom-style: solid;"></td>
                    </tr>

                </tbody>
            </table>

        </div>


    </div>




    <!-- layui 打印记录表-->
    <table id="demo" lay-filter="test"></table>

    <div class="layui-tab layui-tab-brief" lay-filter="demo">
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">

                <div class="layui-carousel" id="test1">
                    <div carousel-item>
                        <div>
                            <p class="layui-bg-green demo-carousel">本后台系统UI为layui！</p>
                        </div>
                        <div>
                            <p class="layui-bg-red demo-carousel">本系统不适用谷歌浏览器请勿用谷歌浏览器进行标签打印</p>
                        </div>
                        <div>
                            <p class="layui-bg-blue demo-carousel">有任何使用上的问题即时反馈</p>
                        </div>
                        <div>
                            <p class="layui-bg-orange demo-carousel">后续功能正在增加完善中</p>
                        </div>
                        <div>
                            <p class="layui-bg-cyan demo-carousel">多沟通！多沟通！多沟通！重要的事情说三遍</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script type="text/html" id="toolbarGroup">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm layui-icon" lay-event="zfei">&#x1007;作废</button>
            <button class="layui-btn layui-btn-sm layui-icon" lay-event="print_wai">&#xe66d;台达客户标签打印</button>
            <button class="layui-btn layui-btn-sm layui-icon" lay-event="print_bd">&#xe66d;破损补打</button>
            <button class="layui-btn layui-btn-sm layui-icon" lay-event="flush">&#xe669;刷新</button>
            <button class="layui-btn layui-btn-sm layui-icon" lay-event="readhowtouse">&#xe702;帮助说明</button>
        </div>
    </script>

    <script src="../../Scripts_UI/layui/layui.all.js" charset="utf-8"></script>
    <script src="../../Scripts/jquery-2.1.1.min.js" charset="utf-8"></script>
    <script src="../../Scripts/jquery-barcode-2.0.2.min.js" charset="utf-8"></script>
    <script src="../../Scripts/barcode.js" charset="utf-8"></script>
    <script src="../../Scripts/xybself.js?version=1.1" charset="utf-8"></script>
    <script>
        layui.config({
            version: '1594038786020' //为了更新 js 缓存，可忽略
        });
        var tsdiv = '<div style="padding: 10px; line-height: 21px; background-color: #C8C8C8; color: #000; font-weight: 490;">'
        tsdiv += '<h1>标签打印通用使用方法：</h1>'
        tsdiv += '<ul style="font-size: 18px;">'
        tsdiv += '<li>1:鼠标光标移至厂内标签一维码后输入框内,通过USB扫描枪扫描厂内合格证一维码</li>'
        tsdiv += '<li>2:扫描出一维码信息后鼠标移出输入框任意区域点击即可</li>'
        tsdiv += '<li>3:系统自动查询出相关信息后，空白没有信息的输入框需要手动输入</li>'
        tsdiv += '<li>4:遗漏补打,会自动新增一条标记为补打的新记录,不适用于不能断码标签.</li>'
        tsdiv += '<li>5:破损补打需要选中一条记录,补打完后，该记录会标记为补打状态.</li>'
        tsdiv += '<li>6:打印失败或者试验打印的记录小批量请自行作废处理</li>'
        tsdiv += '<li>7:当客户标签存在流水号,若周期和流水号存在于同一字段里,新周期开始使用不会重码</li>'
        tsdiv += '<li>8:当客户标签存在流水号,且除流水号外无其他变量时，对接使用请联系IT.</li>'
        tsdiv += '<li>9:请输入进行模糊查询字样，可以输入N位数字模糊查询周期,点击下拉框看到查询结果</li>'
        tsdiv += '</ul>'
        tsdiv += '<h1><font color="red">本客户标签特色功能说明：</font></h1>'
        tsdiv += '<ul style="font-size: 18px;">'
        tsdiv += '<li>1:本客户标签需要手动选择包装类型！！！</li>'
        tsdiv += '<li>2:内包装订单号发票号为"N/A",选择对应包装类型后系统自动补充</li>'
        tsdiv += '<li>3:最小包装内不能存在俩个周期的产品</li>'
        tsdiv += '<li>4:左侧二维码和右侧相同字段(供应商代码、客户料号、数量、周期、批号)内容一致</li>'
        tsdiv += '<li>5:台达客户标签贮存期限中高压产品有效期为6个月！当前为系统根据生产日期自动计算！</li>'
        tsdiv += '<li>6:流水号日期为周期转化生产日期！</li>'
        tsdiv += '<li style="color:red;">7:流水号根据周期对应生产日期从000001开始-2021022修改</li>'
        tsdiv += '<li>8:D/C处台达为周期加四个空格加生产批号</li>'
        tsdiv += '</ul>'
        tsdiv += '</div>'
        if (CookieUtil.get("gbk") == 1) {
        } else {
            addhowtouse(tsdiv);
        }
        ////获取当前日期 yyyyMMdd
        //function getdate() {
        //    var date = new Date();
        //    document.getElementById("lsh1").value = date.format("yyyy-MM-dd").replace('-', '').replace('-', '');
        //}
        //getdate();
        //获取周期码
        function zq(zqm) {
            $.ajax({
                type: "GET",
                url: '../Datainself/GetZqdata',
                data: { zqm: zqm },
                dataType: "json",
                async: false,  //设置异步，必须先更改对应值才能做后续的传递参数操作
                success: function (data) {
                    $("#zq").empty();
                    $("#zq").append("<option style='display: none;'></option><option value=''></option>");
                    for (var i = 0; i < data.Tables[0].Rows.length; i++) {
                        $("#zq").append("<option value=" + data.Tables[0].Rows[i].s_zqm + ">" + data.Tables[0].Rows[i].s_zqm + "</option>")
                    }
                },
                error: function (res) {
                    console.log(res);
                }
            });
        }
        function mohusearch() {
            var zqm = document.getElementById("zq_inp").value;
            zq(zqm);
        }
        function Getrq() {
            var zqm = document.getElementById("zq_inp").value;
            $.ajax({
                type: "GET",
                url: '../Datainself/GetRqdata',
                data: { zqm: zqm },
                dataType: "json",
                async: false,  //设置异步，必须先更改对应值才能做后续的传递参数操作
                success: function (data) {
                    Addhalfyear_s(data.Tables[0].Rows[0].s_scrq);
                    document.getElementById("lsh1").value = data.Tables[0].Rows[0].s_scrq;
                    var scrq = data.Tables[0].Rows[0].s_scrq;
                    lsnum(scrq);
                },
                error: function (res) {
                    console.log(res);
                }
            });
        }
        function Check() {
            var cnbqywm = document.getElementById("cnbqywm").value;
            $.ajax({
                type: "GET",
                url: '../Datainself/Getdata',
                data: { scph: cnbqywm },
                dataType: "json",
                async: false,  //设置异步，必须先更改对应值才能做后续的传递参数操作
                success: function (data) {
                    //console.log(data.Tables[0].Rows[0]);
                    document.getElementById("khlh").value = data.Tables[0].Rows[0].customer_goods_id;
                    document.getElementById("sl").value = data.Tables[0].Rows[0].qty;
                    document.getElementById("scph").value = data.Tables[0].Rows[0].number;
                    document.getElementById("ddh").value = data.Tables[0].Rows[0].customer_order_id;
                },
                error: function (res) {
                    console.log(res);
                    layer.msg('查询出错或者无数据！', { icon: 0 });
                }
            });
        }
        ////流水号自动增长 客户批次号第四块
        function lsnum(scrq) {
            $.ajax({
                type: "GET",
                url: '../Taida/Getlsnum',
                data: { scrq: scrq },
                dataType: "text",
                success: function (data) {
                    $("#lsh2").val(data);
                },
                error: function (res) {
                    console.log(res);
                }
            });
        }


        function showmsg() {
            var cb = document.getElementById("cb").value;//厂别
            var gysdm = document.getElementById("gysdm").value;//供应商代码
            var khlh = document.getElementById("khlh").value;//客户料号
            var sl = document.getElementById("sl").value;//数量
            var dc = document.getElementById("zq_inp").value;//周期
            var scph = document.getElementById("scph").value;//生产批号
            var yxq = document.getElementById("yxq").value;//有效期

            $("#cb_msg").html(cb);
            $("#gysdm_msg").html(gysdm);
            $("#khlh_msg").html(khlh);
            $("#sl_msg").html(sl);
            $("#E_msg").html(dc + ' ' + ' ' + ' ' + ' ' + scph);
            $("#yxq_msg").html(yxq);
        }

        layui.use(['laypage', 'layer', 'table', 'carousel', 'upload', 'element'], function () {
            var laydate =
            laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            , table = layui.table //表格
            , carousel = layui.carousel //轮播
            , element = layui.element //元素操作
            , form = layui.form //表单

            //向世界问个好
            layer.msg('欢迎使用艾华集团标签打印系统');

            //监听Tab切换
            element.on('tab(demo)', function (data) {
                layer.tips('切换了 ' + data.index + '：' + this.innerHTML, this, {
                    tips: 1
                });
            });


            //执行一个 table 实例
            var renderTable = function () {
                table.render({
                    elem: '#demo'
                  , url: '../Taida/searchprint'
                    //, where: { n_state: document.getElementById("demoReload").value }
                  , filter: true
                  , sort: true
                , colFilterRecord: true
                , toolbar: '#toolbarGroup' //指向自定义工具栏模板选择器
                  , title: '台达标签打印记录表'
                      , response: {
                          statusName: 'code' //规定数据状态的字段名称，默认：code
                        , statusCode: 200 //规定成功的状态码，默认：0
                      }
                      , parseData: function (res) { //res 即为原始返回的数据
                          return {
                              "code": res.Tables[0].Code, //解析接口状态s
                              "data": res.Tables[0].Rows, //解析数据列表
                              "msg": res.Tables[0].Name, //解析提示文本
                              "count": res.Tables[1].Rows[0].zongshu, //解析数据长度
                          };
                      }
                      , cols: [[ //表头
                          { type: 'checkbox', fixed: true }
                        , { field: 'n_id', title: '序号', width: 80, fixed: true }
                        , { field: 's_id', title: '唯一标识', width: 110, hide: true }
                        , { field: 's_cnbqywm', title: '厂内标签一维码', width: 170 }
                        , { field: 's_packageType', title: '装箱类别', width: 140, templet: function (res) { if (res.s_packageType == '0') return '台达内箱最小包装'; else if (res.s_packageType == '1') return '台达外箱'; } }
                        , { field: 's_codemsg', title: '二维码信息', width: 225, hide: true }
                        , { field: 's_gysdm', title: '供应商代码', width: 100, hide: true }
                        , { field: 's_khlh', title: '客户料号', width: 200 }
                        , { field: 's_zq', title: '周期', width: 120 }
                        , { field: 's_sl', title: '数量', width: 100 }
                        , { field: 's_dw', title: '单位', width: 120, hide: true }
                        , { field: 's_scph', title: '生产批号', width: 160 }
                        , { field: 's_mydm', title: '贸易代码', width: 90 }
                        , { field: 's_ddh', title: '订单号', width: 120 }
                        , { field: 's_fph', title: '发票号', width: 120 }
                        , { field: 's_lsh', title: '流水号', width: 120 }
                        , { field: 's_cb', title: '厂别', width: 120 }
                        , { field: 's_yxq', title: '有效期', width: 120 }
                        , { field: 's_waternum', title: '流水号_V1', width: 100 }
                        , { field: 's_UserName', title: '创建人', width: 120 }
                        , { field: 's_createtime', title: '创建时间', width: 160 }
                        , { field: 's_GroupName', title: '分厂', width: 140 }
                        , { field: 'n_bdprint', title: '补打标记', width: 120 }
                        , { field: 's_RoleName', title: '权限级别', width: 160, hide: true }
                      ]]
                    , n_id: 'testReload'
                  , page: true
                  , limits: [10, 50, 100, 500, 1000, 5000, 10000]
                });
            }
            renderTable();
            //执行一个轮播实例
            carousel.render({
                elem: '#test1'
              , width: '100%' //设置容器宽度
              , height: 200
              , arrow: 'none' //不显示箭头
              , anim: 'fade' //切换动画方式
            });

            //头工具栏事件
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'zfei':
                        if (checkStatus.data.length > 0) {
                            Zuofei(checkStatus);
                        } else {
                            layer.msg('请选择需要作废的打印记录', { icon: 0 });
                        }
                        break;
                    case 'print_wai':
                        document.getElementById("pint_wai").setAttribute("style", "display:block;");
                        break;
                    case 'print_bd':
                        //document.getElementById("Printing").setAttribute("style", "display:none;");
                        //document.getElementById("n_Printing").setAttribute("style", "display:none;");
                        if (checkStatus.data.length > 0 && checkStatus.data.length == 1) {
                            Bdprint(checkStatus);
                        }
                        else {
                            layer.msg('请选中需要补打的条码记录，补打功能只支持单条打印！', { icon: 0 });
                        }
                        break;
                    case 'flush':
                        renderTable();
                        break;
                    case 'readhowtouse':
                        addhowtouse(tsdiv);
                        break;
                };
            });

            //台达内外箱打印事件
            $("#Printing").click(function () {
                //getdate();
                var str = document.getElementsByName('ylbd');
                var ylbd = 0;
                if (str[0].checked == true) {
                    ylbd = str[0].value;
                }
                var packageType = $("#packageType").val();
                var x = document.getElementById("textarea").getElementsByTagName("input");
                //填写信息是否完整
                for (var i = 0; i < x.length; i++) {
                    if (x[i].value == "") {
                        alert('信息未填写完整');
                        x[i].focus();
                        return false;// 有空值
                    }
                }
                var cnbqywm = document.getElementById("cnbqywm").value;//厂内标签一维码
                var packageType = document.getElementById("packageType").value;//包装类型
                var cb = document.getElementById("cb").value;//厂别
                var gysdm = document.getElementById("gysdm").value;//供应商代码
                var khlh = document.getElementById("khlh").value;//客户料号
                var sl = document.getElementById("sl").value;//数量
                var dw = document.getElementById("dw").value;//单位
                var lsh = document.getElementById("lsh1").value;//流水号1 当前日期
                var zq = document.getElementById("zq_inp").value;//周期
                var mydm = document.getElementById("mydm").value;//贸易代码
                var scph = document.getElementById("scph").value;//生产批号
                var yxq = document.getElementById("yxq").value;//有效期
                var ddh = document.getElementById("ddh").value;//订单号
                var fph = document.getElementById("fph").value;//发票号
                var num_print = document.getElementById("numcount").value;//打印张数
                if (!confirm("您确定要打印吗?")) return;
                showmsg();
                //添加打印数据数据
                $.ajax({
                    type: "POST",
                    url: "/Taida/AddTaidaPrint",
                    data: {
                        cnbqywm: cnbqywm,
                        packageType: packageType,
                        cb: cb,
                        gysdm: gysdm,
                        khlh: khlh,
                        sl: sl,
                        dw: dw,
                        lsh: lsh,
                        zq: zq,
                        mydm: mydm,
                        scph: scph,
                        yxq: yxq,
                        ddh: ddh,
                        fph: fph,
                        num_print: num_print,
                        ylbd: ylbd
                    },
                    dataType: "text",
                    success: function (data) {
                        var str = data.substring(3);
                        var arr = str.split(',');
                        if (data.substring(0, 1) > 0) {
                            var num1 = $("#numcount").val();
                            var headstr = "<html><body>";
                            var footstr = "</body></html>";
                            var printData1 = '';
                            var fenye = '<div style="page-break-after:always;"></div>';    //分页


                            for (i = 0 ; i < num1 ; i++) {
                                lsh = document.getElementById("lsh1").value + arr[i];//流水号
                                $('#datamatrix').html('');
                                $("#datamatrix").barcode(khlh + ' {' + sl + ' {' + dw + ' {' + gysdm + ' {' + zq + ' ' + ' ' + ' ' + ' ' + scph + ' {' + mydm + ' {' + ddh + ' {' + fph + ' {' + lsh, 'datamatrix', { barWidth: 1, barHeight: 20, fontSize: 6, showHRI: false, moduleSize: 2 });

                                printData1 += document.getElementById("PrintArea").innerHTML;
                                if (i != num1 - 1) {
                                    printData1 = printData1 + fenye;
                                }
                            }

                            var printData = printData1;// 获得 div 里的所有 html 数据
                            document.body.innerHTML = headstr + printData + footstr;

                            // 二维码  一维码 可能是太长了 必须等待 要不然打印出来没有二维码
                            window.setTimeout(function () {
                                location.href = location.href;  //返回主界面
                                window.print();
                            }, 3000);

                        } else if (data.substring(0, 2) == -1) {
                            alert("请不要输入非法字符,如果属于必输内容，请联系IT！");
                        } else {
                            alert("500,打印记录生成失败，本次打印终止。");
                        }
                    },
                    error: function (data) {
                        alert("501,打印记录生成失败，本次打印终止。");
                    }
                })

            })


            //作废打印记录(多选)
            function Zuofei(obj) {
                var str = "";
                var msg = "";
                var l = obj.data.length;
                for (var i = 0; i < l; i++) {
                    str += "'" + obj.data[i].n_id + "',";
                }
                layer.confirm('确定要作废' + l + '条记录吗?', { icon: 2, title: '提示' }, function (index) {
                    layui.jquery.ajax({
                        type: "POST",
                        url: '../Taida/Zuofei',
                        data: { delstr: str },
                        dataType: "JSON",
                        success: function (res) {
                            if (res > 0) {
                                var msg = "成功作废" + res + "条记录！";
                                layer.msg(msg, { icon: 6, time: 1000 }, function () {
                                    layer.close(index);
                                    renderTable();
                                });
                            }
                            else {
                                layer.msg("作废失败", { icon: 5 });
                            }
                        }
                    });
                });
            }

            //补打打印记录(单个)
            function Bdprint(obj) {
                document.getElementById("pint_wai").setAttribute("style", "display:block;");

                document.getElementById("cnbqywm").value = obj.data[0].s_cnbqywm;//厂内标签一维码
                document.getElementById("packageType").value = obj.data[0].s_packageType;//包装类型
                document.getElementById("cb").value = obj.data[0].s_cb;//厂别
                document.getElementById("khlh").value = obj.data[0].s_khlh;//客户料号
                document.getElementById("gysdm").value = obj.data[0].s_gysdm;//供应商代码
                document.getElementById("zq_inp").value = obj.data[0].s_zq;//周期
                document.getElementById("scph").value = obj.data[0].s_ph;//生产批号
                document.getElementById("sl").value = obj.data[0].s_sl;//数量
                document.getElementById("dw").value = obj.data[0].s_dw;//单位
                document.getElementById("lsh1").value = obj.data[0].s_lsh1;;//流水号1 当前日期
                document.getElementById("lsh2").value = obj.data[0].s_lsh.substring(8, 14);;//流水号1 当前日期
                document.getElementById("mydm").value = obj.data[0].s_mydm;//贸易代码
                document.getElementById("scph").value = obj.data[0].s_scph;//生产批号
                document.getElementById("yxq").value = obj.data[0].s_yxq;//有效期
                document.getElementById("ddh").value = obj.data[0].s_ddh;//订单号
                document.getElementById("fph").value = obj.data[0].s_fph;//发票号
                document.getElementById("numcount").value = 1;//打印张数

                showmsg();
                layer.confirm('确定要补打第' + obj.data[0].n_id + '条记录吗?', { icon: 7, title: '提示' }, function (index) {
                    var cnbqywm = document.getElementById("cnbqywm").value;//厂内标签一维码
                    var packageType = document.getElementById("packageType").value;//包装类型
                    var cb = document.getElementById("cb").value;//厂别
                    var gysdm = document.getElementById("gysdm").value;//供应商代码
                    var khlh = document.getElementById("khlh").value;//客户料号
                    var sl = document.getElementById("sl").value;//数量
                    var dw = document.getElementById("dw").value;//单位
                    var lsh = document.getElementById("lsh1").value + document.getElementById("lsh2").value;//流水号1 当前日期
                    var zq = document.getElementById("zq_inp").value;//周期
                    var mydm = document.getElementById("mydm").value;//贸易代码
                    var scph = document.getElementById("scph").value;//生产批号
                    var yxq = document.getElementById("yxq").value;//有效期
                    var ddh = document.getElementById("ddh").value;//订单号
                    var fph = document.getElementById("fph").value;//发票号
                    var num_print = document.getElementById("numcount").value;//打印张数


                    //更新补打标记
                    $.ajax({
                        type: "POST",
                        url: "/Taida/UpdateTaidaPrint",
                        data: {
                            id: obj.data[0].n_id
                        },

                        success: function (data) {
                            if (data > 0) {
                                var num1 = $("#numcount").val();
                                var headstr = "<html><body>";
                                var footstr = "</body></html>";
                                var printData1 = '';
                                var fenye = '<div style="page-break-after:always;"></div>';    //分页


                                for (i = 0 ; i < num1 ; i++) {
                                    $('#datamatrix').html('');
                                    $("#datamatrix").barcode(khlh + ' {' + sl + ' {' + dw + ' {' + gysdm + ' {' + zq + ' ' + ' ' + ' ' + ' ' + scph + ' {' + mydm + ' {' + ddh + ' {' + fph + ' {' + lsh, 'datamatrix', { barWidth: 1, barHeight: 20, fontSize: 6, showHRI: false, moduleSize: 2 });

                                    printData1 += document.getElementById("PrintArea").innerHTML;
                                    if (i != num1 - 1) {
                                        printData1 = printData1 + fenye;
                                    }
                                }

                                var printData = printData1;// 获得 div 里的所有 html 数据
                                document.body.innerHTML = headstr + printData + footstr;

                                // 二维码  一维码 可能是太长了 必须等待 要不然打印出来没有二维码
                                window.setTimeout(function () {
                                    location.href = location.href;  //返回主界面
                                    window.print();
                                }, 3000);

                            } else if (data == -1) {
                                alert("请不要输入非法字符,如果属于必输内容，请联系IT！");
                            } else {
                                alert("500,打印记录生成失败，本次打印终止。");
                            }
                        },
                        error: function (data) {
                            alert("501,打印记录生成失败，本次打印终止。");
                        }
                    })

                })

            }




        });
    </script>
</body>
</html>
