<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Stict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang = "zh-CN">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>error</title>
</head>
<body style="background-color:#f1f3fa">
    <h1 style="text-align:center">亲！出错了！这个真没有~</h1>
            <div style="width:100%;text-align:center">
                <div style="width:20%;height:120px; font-size:120px;line-height:160px;color:#7bbbd6;display:inline-block">
                </div>
                <div style="padding-left:10px;display:inline-block"">
                    <p style="text-align:left;line-height:10px">您浏览的页面可能被删除，转移或暂时不可用</p>
                    <p style="text-align:left;line-height:10px">遇到此情况的概率和中彩票差不多哦!</p>
                    <p style="text-align:left;line-height:10px"> 买张彩票试试运气吧!  </p>
                    <p style="text-align:left;line-height:10px"> <a href="/" style="color:#7bbbd6" target="_parent">或者重新登录试试吧~</a></p>
                </div>
            </div>
</body>
</html>
