<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Stict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang = "zh-CN">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>RoleWarm</title>
</head>
<body style="background-color:#f1f3fa">
    <h1 style="text-align:center">没有权限操作此功能，请联系管理员~</h1>
            <div style="width:100%;text-align:center">
                <div style="width:20%;height:120px; font-size:120px;line-height:160px;color:#7bbbd6;display:inline-block">
                </div>
                <div style="padding-left:10px;display:inline-block"">
                    <p style="text-align:left;line-height:10px"> <a href="/" style="color:#7bbbd6" target="_parent">或者重新登录试试吧~</a></p>
                </div>
            </div>
</body>
</html>
