<!DOCTYPE html>
<html>
    <head>
        <title>艾华客户标签打印系统版本更新说明</title>
    </head>
    <body>
        <h1>版本更新说明</h1>
        <h2><font color="red">所有新上系统客户标签请核对相关技术文档后再行使用！</font></h2>
        <h2><font color="red">所有新上系统客户标签请核对相关技术文档后再行使用！</font></h2>
        <h2><font color="red">所有新上系统客户标签请核对相关技术文档后再行使用！</font></h2>

        <h2>2022.05.16版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>星网锐捷客户标签</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>暂无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li></li>
        </ul>

        <h2>2022.05.11版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>海信客户标签</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>强芯客户标签客户料号从固定CPAN0477MF修改为从生产系统取值</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li><font color="red">新增系统管理员:信息部-刘佳勇</font></li>
        </ul>

        <h2>2022.04.25版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>达方客户标签</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>暂无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>暂无</li>
        </ul>

        <h2>2022.04.19版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>暂无</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>暂无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li><font color="red">20220419更新：外箱标签在内箱存在多个批次情况下会带出批号列表，L/N周期后添加"#"+生产批号</font></li>
        </ul>

        <h2>2022.04.12版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>锐高客户标签(存在需要商榷的部分，未开放使用)</li>
            <li>光宝2022新客户标签(客户确认中，未开放使用)</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>暂无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>航嘉客户标签二维码整体放大10个像素，往左上调整5个像素单位</li>
            <li><font color="red">共进/同维客户标签L/N从A772#周期变更为A772#周期#批号，二维码对应字段已更新(已回滚，待确认)</font></li>
        </ul>

        <h2>2022.03.29版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>浙江艾罗客户标签</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>暂无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>暂无</li>
        </ul>

        <h2>2022.03.10版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>暂无</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>新安、斯特雷客户标签：供应商代码从0298修改为0291</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>暂无</li>
        </ul>

        <h2>2022.03.09版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>暂无</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>联滔客户标签：俩个二维码往里缩进，同时将第一个(右上)二维码放大</li>
            <li>格力客户标签：生产批次为总批号+分批号组成(20220309去除将"-"变更为0修改为将"-"去除)</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>暂无</li>
        </ul>

        <h2>2022.2.25版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>光宝客户标签(旧版一维码标签)</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>暂无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>新增大量通用方法</li>
        </ul>

        <h2>2022.2.18版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>格力客户标签</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>暂无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>暂无</li>
        </ul>

        <h2>2022.2.09版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>针对目前正在试运行的新MES系统，新增与新MES系统连接，可以正常通过扫描新MES打印的合格证带出相关信息(与生产系统带出信息一致)(目前仅针对部分客户试运行，没有上线新MES的分厂不受影响)</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>暂无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>暂无</li>
        </ul>

        <h2>2021.12.21版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>共进/同维客户标签</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>暂无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>暂无</li>
        </ul>

        <h2>2021.12.18版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>暂无</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>暂无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>南瑞中天客户标签：生产批号最后俩位批号取值：当天打印批次号，当天第一批打印为01，循环往下，直至第二天继续01开始。</li>
        </ul>

        <h2>2021.12.17版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>新增四川绵阳资江生产系统数据库连接。</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>暂无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>暂无</li>
        </ul>

        <h2>2021.12.13版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>南瑞中天客户标签</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li><font color="red">九洲客户标签初期版本存在重大问题，SN码中前6位打印日期为2位年2位月2位日，但初期版本为8位打印日期为4位年2位月2位日，已修改，前期已打印错误标签请注意改正。</font></li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>暂无</li>
        </ul>

        <h2>2021.12.11版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>南瑞中天客户标签(确定相关字段后开发使用)</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>暂无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>暂无</li>
        </ul>

        <h2>2021.12.07版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>暂无(待完成其他项目后继续新的开发)</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>暂无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>海信电子以及海信二合一标签新增是否为试流单单选框，选择后流水号自动新增SL后缀</li>
            <li>海信空调新增是否需要环保标识单选框,勾选后自动新增环保标识,补打时自动识别是否需要环保标识</li>
            <li><font color="red">由于海信二合一标签抬头文本暂未存入数据库中，所以补打时会自动以默认选择的抬头作为补打的抬头,注意一下！</font></li>
        </ul>

        <h2>2021.11.18版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>Topspin客户标签</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>暂无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>打印记录列表修改每页一次性可查看数量为[10, 50, 100, 500, 1000, 5000, 10000]，修改1000条每页后选导出可以一次性导出该页1000条打印数据</li>
        </ul>

        <h2>2021.11.15版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>明纬客户标签</li>
            <li>古瑞特客户标签</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>暂无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>暂无</li>
        </ul>

        <h2>2021.10.30版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>海尔客户标签</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>暂无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>辉皓客户标签关于AISHI料号解除非空限制已修改(代码已写好,但未更新新版本等待确认)</li>
        </ul>

        <h2>2021.10.21版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>暂无</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>暂无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>新绿源客户标签修改成最新110*60尺寸标签</li>
        </ul>

        <h2>2021.10.19补充历史版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>辉皓客户标签</li>
            <li>联合电子最小包装标签</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li></li>
            <li>暂无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>暂无</li>
        </ul>

        <h2>2021.09.13补充历史版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li><font color="red">赛尔康客户标签已修改为通过合格证一维码带出其他信息,带出物料编号后从固定数据维护表中带出相关数据，带出周期后从周期表维护带出生产日期有效期(2021/09/10修改更新)</font></li>
            <li>赛尔康客户标签流水号根据物料编号自然循环，L开头周期已自动转化当前年(2021/09/13修改更新)</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>台湾扇港客户标签修改为130*30大小，排版修改，字体变大</li>
        </ul>

        <h2>2021.07.26版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li><font color="red">康舒客户标签补打无法正确带出对应物料标识(更新后的可以正常带出,此前的仍然默认为ROHS)</font></li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>无</li>
        </ul>

        <h2>2021.07.20版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li><font color="red">康舒客户标签新增HF材料标识,可以通过下拉选择对应的材料标识</font></li>
            <li><font color="red">康舒客户标签自动将空字段填充为"NA"</font></li>
            <li></li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>无</li>
        </ul>

        <h2>2021.07.13版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li><font color="red">海信二合一客户标签BUG修复,QC已默认为消费电源事业部默认QC58,流水号单独循环独立于电子和空调客户(因为此标签只有消费电源事业部使用所以流水号单独区分不参与电子空调循环)，同时查看原有逻辑发现，电子和空调流水号也是单独自然循环</font></li>
            <li><font color="red">海信二合一客户标签生产批号修改为分批号，REMARK新增信息——周期、温度系数、加工方式、套管颜色</font></li>
            <li><font color="red">海信整体字体从13px调整为11px(2021/07/13修改)</font></li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>后续事项和跟进说明</h3>
        <ul>
            <li><font color="red">本周需参与华为ASN模块标签系统的接口取值，暂缓新客户开发进度，维护修复工作正常</font></li>
        </ul>

        <h2>2021.07.10版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>四川九洲电子客户标签</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li><font color="red">伟创力客户标签周期解除四位限制可以输入俩个周期,格式为A周期+空格+B周期(20210710修改)</font></li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>无</li>
        </ul>

        <h2>2021.07.05版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>上海强芯电子客户标签</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>无</li>
        </ul>

        <h2>2021.06.29版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>应消费电子事业部要求,将中达、台达原厂别字段从手工输入改成了下拉框选择(手工输入存在将1输成i的)</li>
        </ul>

        <h2>2021.06.28版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>新增捷星、新绿源客户标签</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>冠捷条码明码排版异常</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>发现了部分可能导致标签字体异常的CSS,但未进行处理,原因为暂无特殊字体要求的客户(已记录)</li>
        </ul>

        <h2>2021.06.26版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>新增冠捷客户标签</li>
            <li>新增海信客户二合一标签</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>海信供应商代码新增对应文字描述</li>
        </ul>

        <h2>2021.06.25版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>伟创力新增：SP0003033 供应商代码,Plot 56, Tmn Perindustrian Bkt Minyak,14100 SPT,Tel : Penang, Malaysia.</li>
        </ul>

        <h2>2021.06.23版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>新增TCL通力客户标签</li>
            <li>新增账户对应用户姓名(后续对此进行数据完善)</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>墨西哥飞利浦、波兰飞利浦前端标签样式微调，防止第一行在标签出现偏移时出现缺失</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>后续跟进和补充说明</h3>
        <ul>
            <li>前一个星期在进行考勤系统的处理,没有进行客户标签系统的开发,所以更新有点慢</li>
            <li>下一家客户标签为：冠捷</li>
        </ul>

        <h2>2021.06.07版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>墨西哥飞利浦、波兰飞利浦前端标签样式微调，防止最下行一维码在标签出现偏移时一维码出现缺失</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>无</li>
        </ul>

        <h2>2021.06.03版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>伟创力客户标签(外箱的抬头Ship to存在换行后位置发生错位或者断句错误问题,下一次更新修复),请仔细阅读帮助说明后试用</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>无</li>
        </ul>

        <h2>2021.05.29版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>应照明事业部要求,英飞特客户标签新增抬头——"浙江英飞特新能源科技有限公司",可以在下拉列表中选择对应内容</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>无</li>
        </ul>

        <h2>2021.05.26版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>由于消费电源事业部存在激光套管周期已"L"开头,从生产系统带出的周期已做自动判断将"L"自动改成当前年,涉及修改客户标签:康舒,北京迪赛奇正科技</li>
        </ul>

        <h2>2021.05.25版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>北京迪赛奇正科技客户标签修改确定并开放使用</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>无</li>
        </ul>

        <h2>2021.05.24版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>新增昆山仁宝客户标签</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>无</li>
        </ul>

        <h2>2021.05.22版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>江苏新安、斯特雷客户标签将旧料号字段解除非空限制,现在可以不用输入汉字"无",可以为空</li>
        </ul>

        <h2>2021.05.21版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>修复了右上角点击当前登录用户名偶尔会出现BUG的情况</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>在顶部导航栏新增了左侧导航菜单栏的删选,可以通过模糊查询和下拉选择更快捷的打开对应的页面了！</li>
        </ul>

        <h2>2021.05.20版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>北京迪赛奇正科技客户标签(暂未开放使用,部分字段待确认)</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>无</li>
        </ul>

        <h2>2021.05.13版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>联滔客户标签:将外箱：项目名称、生产阶段、版本号、料件描述、叉板数量、BIN号、模穴号、型号、二级供应商默认为"空"，且打印出的标签为空——空白</li>
            <li>联滔客户标签:将最小箱：X Type、X Qty、Cavity、BIN默认为"空"，且打印出的标签为空——空白</li>
            <li>联滔客户标签:将外箱原产地默认为"CHINA"，品牌默认为"AISHI"</li>
            <li>联滔客户标签:将外箱最小箱湿敏度默认为"MSD1"</li>
            <li>联滔客户标签:将最小箱上一二维码暗码内容原中文处"湖南艾华"处字段修正为生产批号</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>康舒客户标签现在可以在输入采购单号和不输入采购单号之间自由选择，不影响标签打印权限判断(采购单号如果带出来是"无",手动删除即可)</li>
        </ul>

        <h2>2021.05.10版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>联滔客户标签,将原V/C(供应商代码)'M30770'修改为'1002216'</li>
            <li>联滔客户标签,外箱周期转生产日期修正为8码,内箱周期转生产日期修正为8码,内箱ID内当前日期修正为6码</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>无</li>
        </ul>

        <h2>2021.05.06版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>联滔客户标签,将原默认V/C(供应商代码)修改为'M30770',内箱第一个二维码暗码,根据文档去除了处于客户料号——年月日——流水号之间的俩个"|"分隔符,供应商名称默认为"湖南艾华"</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>由于合箱发货需要同一个DC日期,增加了周期字段栏,用于周期转日期</li>
        </ul>

        <h2>2021.05.04版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>常州科瑞森科技客户标签(暂未开放使用,待测试)</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>联滔客户标签——config默认为空(E不用管,已做空处理),项目阶段和生产阶段发货前需要和相关人员确认(采购提供),其他依料件属性填写,没有可为空(目前除Config外未设置),有需求请联系</li>
            <li>登陆进入系统后自动打开版本更新历史说明页面(更直观的看到更新内容)</li>
        </ul>

        <h2>2021.04.27版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>无</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>江苏新安斯特雷客户标签——新增物料组数据可以带出</li>
        </ul>

        <h2>2021.04.22版本更新说明</h2>
        <h3>新增功能</h3>
        <ul>
            <li>增加版本更新使用说明 </li>
            <li>增加台湾扇港(兴英、精英电脑,启新)客户标签,由于兴英、精英电脑客户标签一维码长度存在一定的问题，暂不开放使用</li>
        </ul>
        <h3>问题修复</h3>
        <ul>
            <li>解决由于打印完成后页面刷新重载导致帮助说明导航页面的再次弹窗</li>
            <li>部分客户标签更符合当前标签打印大小,所有的中文符号变更为英文去除中文字符缩进</li>
        </ul>
        <h3>优化功能</h3>
        <ul>
            <li>将原本处于标签预览区域右侧的使用说明变更为弹窗方式(原方式会由于不同分辨率不同比例导致错位(原设计并没有设计为bootstrap自适应模式))</li>
        </ul>
    </body>
</html>
