<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>伟创力客户标签打印</title>
    <link rel="stylesheet" href="../../Scripts_UI/layui/css/layui.css" media="all">
    <style>
        body {
        }

        .demo-carousel {
            height: 200px;
            line-height: 200px;
            text-align: center;
        }

        .onecode-text {
            text-align: left;
            border: 1px solid #000000;
            border-left-style: solid;
            border-right-style: hidden;
            border-bottom-style: hidden;
            font-size: 11px;
        }



        .bot {
            border: 0px solid;
            padding: 5px 25px;
            font-size: 15px;
            margin: 5px 20px;
        }

        .font {
            font-weight: bold;
            font-size: 12px;
        }

        .tuoyuan {
            border: 1px solid #000000;
            border-radius: 100%;
            -o-border-radius: 100%;
            -ms-border-radius: 100%;
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
        }

    </style>
</head>
<body>
    <div id="layerDemo" style="margin-bottom: 0;">
        <div class="layui-btn-container" style="display:none;">
            <button data-method="notice" class="layui-btn">弹出标签使用方法以及更新说明</button>
        </div>
    </div>
    <!--伟创力客户标签——外箱条码-->
    <div style="width: 100%; height: 430px; display: none" id="pint_wai">
        <div id="textarea" style="width: 400px; height: 360px; margin-top: 20px; line-height: 25px; margin-left: 50px; text-align: right; display: inline-block;">
            <div style="width: 400px;" class="font">
                厂内标签一维码:
				<input id="cnbqywm" type="text" onblur="Check();" />
            </div>
            <div class="font" style="width: 400px;">
                包装类型:
				<select id="packageType" disabled>
                    <option value="1">外箱</option>
                    <option value="0">内箱</option>
                </select>
            </div>
            <div style="width: 400px;" class="font">
                供应商代码:
				<select id="gysdm" onchange="shipto();">

                </select>
            </div>
            <div style="width: 400px;" class="font">
                发往:
				<input id="shipto" type="text" style="width:300px;" readonly/>
            </div>
            <div style="width: 400px;" class="font">
                订单号:
				<input id="ddh" type="text" />
            </div>
            <div style="width: 400px;" class="font">
                客户料号:
				<input id="khlh" type="text"/>
            </div>
            <div style="width: 400px;" class="font">
                我司料号:
				<input id="aslh" type="text" />
            </div>
            <div style="width: 400px;" class="font">
                数量:
				<input id="sl" type="text" />
            </div>
            <div style="width: 400px;" class="font">
                生产批号:
				<input id="scph" type="text" />
            </div>
            <div style="width: 400px;" class="font">
                周期:
				<input id="zq" type="text" maxlength="9"/>
            </div>
            <div style="width: 400px;" class="font">
                毛重:
				<input id="gw" type="text" />
            </div>
            <div style="width: 400px;" class="font">
                净重:
				<input id="nw" type="text" />
            </div>
            <div style="width: 400px;" class="font">
                尾料箱——毛重:
				<input id="wlx_gw" type="text" placeholder="存在尾料箱时必填"/>
            </div>
            <div style="width: 400px;" class="font">
                尾料箱——净重:
				<input id="wlx_nw" type="text" placeholder="存在尾料箱时必填"/>
            </div>
            <div style="width: 400px;" class="font">
                打印张数:
				<input type="number" id="numcount" oninput="if(value > 999 || value < 1 ){alert('打印张数范围在1到999之间！');value = ''}" />
            </div>
            <div style="width: 400px;" class="font">
                是否为遗漏补打:
					<label>
                        <input type="checkbox" name="ylbd" value="1">是</label>
            </div>
            <div style="width: 400px; height: 45px; text-align: right;">
                @* <button id="Eliminate" class="bot" style="border: 5px solid #ffd68c; display: inline-block; background-color: orange; color: white;">清空</button>*@
                <button id="Printing" class="bot" style="border: 5px solid #ffd68c; display: inline-block; background-color: seagreen; color: white;">打印</button>
            </div>
        </div>




        <!--右侧打印区域-->
        <div id="PrintArea" style="width: 100mm; height: 75mm; vertical-align: top; display: inline-block; margin-left: 20px; white-space: nowrap; font-family: SimSun,monospace;">
            <!--使用表格显示-->
            <table style="border: thin; width: 98mm; height: 73mm; margin-left: 4px; margin-top: 4px;" rules="rows">
                <tbody>
                   <tr style="height:13px;">
                       <td colspan="2" class="onecode-text" style="width:185px;border-right-style:solid;">Ship From:</td>
                       <td colspan="2" class="onecode-text" style="width:185px;border-right-style:solid;">Ship To:</td>
                   </tr>
                   <tr style="height:40px;">
                       <td colspan="2" class="onecode-text" style="width:185px;border-right-style:solid;border-bottom-style:solid;">HuNan AIHua Group  CO.,LTD</td>
                       <td colspan="2" id="shipto_msg" class="onecode-text" style="width:185px;border-right-style:solid;border-bottom-style:solid;white-space:normal;word-break: break-all;"></td>
                   </tr>
                    <tr style="height: 13px">
                        <td colspan="3" id="ddh_msg" class="onecode-text" style=""><span>(K)Purchase Order Number:</span></td>
                        <td colspan="1"  rowspan="2" class="onecode-text" style="width: 45px;border-right-style:solid;">
                            <div class="tuoyuan" style="text-align: center; width: 40px;">ROHS</div>
                        </td>
                    </tr>
                    <tr style="height: 25px">
                        <td colspan="3" id="onecode_ddh" class="onecode-text"></td>
                    </tr>
                    <tr style="height: 13px">
                        <td colspan="3" id="khlh_msg" class="onecode-text" style=""><span>(P)Customer Product ID:</span></td>
                        <td colspan="1"  rowspan="2" class="onecode-text" style="width: 45px;text-align: center;border-right-style:solid;"><span>HF</span></td>
                    </tr>
                    <tr style="height: 25px">
                        <td colspan="3" id="onecode_khlh" class="onecode-text"></td>
                    </tr>
                    <tr style="height: 13px">
                        <td colspan="4" id="aslh_msg" class="onecode-text" style="border-right-style:solid;"><span>(1P)MPN:</span></td>
                    </tr>
                    <tr style="height: 25px">
                        <td colspan="4" id="onecode_aslh" class="onecode-text" style="border-right-style:solid;"></td>
                    </tr>
                    <tr style="height: 13px">
                        <td colspan="2" id="sl_msg" class="onecode-text" style=""><span>(Q)Quantity:</span></td>
                        <td colspan="2" id="scph_msg" class="onecode-text" style="border-right-style:solid;"><span>(1T)Lot Number:</span></td>
                    </tr>
                    <tr style="height: 25px">
                        <td colspan="2" id="onecode_sl" class="onecode-text" style=""></td>
                        <td colspan="2" id="onecode_scph" class="onecode-text" style="border-right-style:solid;"></td>
                    </tr>
                    <tr style="height: 13px">
                        <td colspan="2" id="zq_msg" class="onecode-text" style=""><span>(9D)Date Code:</span></td>
                        <td colspan="2" id="gysdm_msg" class="onecode-text" style="width:140px;border-right-style:solid;"><span>Vendor Code:</span></td>
                    </tr>
                    <tr style="height: 25px">
                        <td colspan="2" id="onecode_zq" class="onecode-text" style=""></td>
                        <td colspan="2" id="onecode_gysdm" class="onecode-text" style="border-right-style:solid;"></td>
                    </tr>
                    <tr style="height: 15px">
                        <td colspan="2"  class="onecode-text" style="border-bottom-style:solid;"></td>
                        <td colspan="2"  class="onecode-text" style="border-right-style:solid;border-bottom-style:solid;"><span>MFG:AISHI GROUP</span></td>
                    </tr>
                    <tr style="height: 15px">
                        <td colspan="2"  id="xh_msg" class="onecode-text" style="border-bottom-style:solid;border-right-style:solid;"><span>Box Number:</span></td>
                        <td colspan="2"  id="zl_msg" class="onecode-text" style="border-right-style:solid;border-bottom-style:solid;"><span>Box Weight:</span></td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

    <!--伟创力客户标签——内箱-->
    <div style="width: 100%; height: 430px; display: none" id="pint_zx">
        <div id="zx_textarea" style="width: 400px; height: 360px; margin-top: 20px; line-height: 25px; margin-left: 50px; text-align: right; display: inline-block;">
            <div style="width: 400px;" class="font">
                厂内标签一维码:
				<input id="zx_cnbqywm" type="text" onblur="CheckZX();" />
            </div>
            <div class="font" style="width: 400px;">
                包装类型:
				<select id="zx_packageType" disabled>
                    <option value="0">内箱</option>
                    <option value="1">外箱</option>
                </select>
            </div>
            <div style="width: 400px;" class="font">
                订单号:
				<input id="zx_ddh" type="text" />
            </div>
            <div style="width: 400px;" class="font">
                客户料号:
				<input id="zx_khlh" type="text"/>
            </div>
            <div style="width: 400px;" class="font">
                我司料号:
				<input id="zx_aslh" type="text" />
            </div>
            <div style="width: 400px;" class="font">
                数量:
				<input id="zx_sl" type="text" />
            </div>
            <div style="width: 400px;" class="font">
                生产批号:
				<input id="zx_scph" type="text" />
            </div>
            <div style="width: 400px;" class="font">
                周期:
				<input id="zx_zq" type="text" maxlength="9"/>
            </div>
            <div style="width: 400px;" class="font">
                供应商代码:
				<select id="zx_gysdm">

                </select>
            </div>
            <div style="width: 400px;" class="font">
                打印张数:
				<input type="number" id="zx_numcount" oninput="if(value > 999 || value < 1 ){alert('打印张数范围在1到999之间！');value = ''}" />
            </div>
            <div style="width: 400px;" class="font">
                是否为遗漏补打:
					<label>
                        <input type="checkbox" name="zx_ylbd" value="1">是</label>
            </div>
            <div style="width: 400px; height: 45px; text-align: right;">
                @* <button id="Eliminate" class="bot" style="border: 5px solid #ffd68c; display: inline-block; background-color: orange; color: white;">清空</button>*@
                <button id="zx_Printing" class="bot" style="border: 5px solid #ffd68c; display: inline-block; background-color: seagreen; color: white;">打印</button>
            </div>
        </div>




        <!--右侧打印区域-->
        <div id="zx_PrintArea" style="width: 100mm; height: 50mm; vertical-align: top; display: inline-block; margin-left: 20px; white-space: nowrap; font-family: SimSun,monospace;">
            <!--使用表格显示-->
            <table style="border: thin; width: 98mm; height: 48mm; margin-left: 4px; margin-top: 4px;" rules="rows">
                <tbody>
                    <tr style="height: 13px">
                        <td colspan="3" id="zx_ddh_msg" class="onecode-text" style=""><span>(K)Purchase Order Number:</span></td>
                        <td colspan="1"  rowspan="2" class="onecode-text" style="width: 45px;border-right-style:solid;">
                            <div class="tuoyuan" style="text-align: center; width: 40px;">ROHS</div>
                        </td>
                    </tr>
                    <tr style="height: 20px">
                        <td colspan="3" id="zx_onecode_ddh" class="onecode-text"></td>
                    </tr>
                    <tr style="height: 13px">
                        <td colspan="3" id="zx_khlh_msg" class="onecode-text" style=""><span>(P)Customer Product ID:</span></td>
                        <td colspan="1"  rowspan="2" class="onecode-text" style="width: 45px;text-align: center;border-right-style:solid;"><span>HF</span></td>
                    </tr>
                    <tr style="height: 20px">
                        <td colspan="3" id="zx_onecode_khlh" class="onecode-text"></td>
                    </tr>
                    <tr style="height: 13px">
                        <td colspan="4" id="zx_aslh_msg" class="onecode-text" style="border-right-style:solid;"><span>(1P)MPN:</span></td>
                    </tr>
                    <tr style="height: 20px">
                        <td colspan="4" id="zx_onecode_aslh" class="onecode-text" style="border-right-style:solid;"></td>
                    </tr>
                    <tr style="height: 13px">
                        <td colspan="2" id="zx_sl_msg" class="onecode-text" style="width:185px;"><span>(Q)Quantity:</span></td>
                        <td colspan="2" id="zx_scph_msg" class="onecode-text" style="width:185px;border-right-style:solid;"><span>(1T)Lot Number:</span></td>
                    </tr>
                    <tr style="height: 20px">
                        <td colspan="2" id="zx_onecode_sl" class="onecode-text" style="width:185px;"></td>
                        <td colspan="2" id="zx_onecode_scph" class="onecode-text" style="width:185px;border-right-style:solid;"></td>
                    </tr>
                    <tr style="height: 13px">
                        <td colspan="2" id="zx_zq_msg" class="onecode-text" style="width:185px;"><span>(9D)Date Code:</span></td>
                        <td colspan="2" id="zx_gysdm_msg" class="onecode-text" style="width:185px;border-right-style:solid;"><span>Vendor Code:</span></td>
                    </tr>
                    <tr style="height: 20px">
                        <td colspan="2" id="zx_onecode_zq" class="onecode-text" style="width:185px;"></td>
                        <td colspan="2" id="zx_onecode_gysdm" class="onecode-text" style="width:185px;border-right-style:solid;"></td>
                    </tr>
                    <tr style="height: 15px">
                        <td colspan="2"  class="onecode-text" style="width:185px;border-bottom-style:solid;"></td>
                        <td colspan="2"  class="onecode-text" style="width:185px;border-right-style:solid;border-bottom-style:solid;"><span>MFG:AISHI GROUP</span></td>
                    </tr>

                </tbody>
            </table>

        </div>

    </div>



    <!-- layui 打印记录表-->
    <table id="demo" lay-filter="test"></table>

    <div class="layui-tab layui-tab-brief" lay-filter="demo">
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">

                <div class="layui-carousel" id="test1">
                    <div carousel-item>
                        <div>
                            <p class="layui-bg-green demo-carousel">本后台系统UI为layui！</p>
                        </div>
                        <div>
                            <p class="layui-bg-red demo-carousel">本系统不适用谷歌浏览器请勿用谷歌浏览器进行标签打印</p>
                        </div>
                        <div>
                            <p class="layui-bg-blue demo-carousel">有任何使用上的问题即时反馈</p>
                        </div>
                        <div>
                            <p class="layui-bg-orange demo-carousel">后续功能正在增加完善中</p>
                        </div>
                        <div>
                            <p class="layui-bg-cyan demo-carousel">多沟通！多沟通！多沟通！重要的事情说三遍</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script type="text/html" id="toolbarGroup">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm layui-icon" lay-event="zfei">&#x1007;作废</button>
            <button class="layui-btn layui-btn-sm layui-icon" lay-event="print_wai">&#xe66d;伟创力外箱标签打印</button>
            <button class="layui-btn layui-btn-sm layui-icon" lay-event="print_zx">&#xe66d;伟创力内箱标签打印</button>
            <button class="layui-btn layui-btn-sm layui-icon" lay-event="print_bd">&#xe66d;破损补打</button>
            <button class="layui-btn layui-btn-sm layui-icon" lay-event="flush">&#xe669;刷新</button>
            <button class="layui-btn layui-btn-sm layui-icon" lay-event="readhowtouse">&#xe702;帮助说明</button>
        </div>
    </script>

    <script src="../../Scripts_UI/layui/layui.all.js" charset="utf-8"></script>
    <script src="../../Scripts/jquery-2.1.1.min.js" charset="utf-8"></script>
    <script src="../../Scripts/jquery-barcode-2.0.2.min.js" charset="utf-8"></script>
    <script src="../../Scripts/barcode.js" charset="utf-8"></script>
    <script src="../../Scripts/xybself.js?version=1.1" charset="utf-8"></script>
                
    <script>
        layui.config({
            version: '1594038786020' //为了更新 js 缓存，可忽略
        });
        var tsdiv = '<div style="padding: 10px; line-height: 21px; background-color: #C8C8C8; color: #000; font-weight: 490;">'
        tsdiv +='<h1>标签打印通用使用方法：</h1>'
        tsdiv +='<ul style="font-size: 18px;">'
        tsdiv +='<li>1:鼠标光标移至厂内标签一维码后输入框内,通过USB扫描枪扫描厂内合格证一维码</li>'
        tsdiv +='<li>2:扫描出一维码信息后鼠标移出输入框任意区域点击即可</li>'
        tsdiv +='<li>3:系统自动查询出相关信息后，空白没有信息的输入框需要手动输入</li>'
        tsdiv +='<li>4:遗漏补打,会自动新增一条标记为补打的新记录,不适用于不能断码标签.</li>'
        tsdiv +='<li>5:破损补打需要选中一条记录,补打完后，该记录会标记为补打状态.</li>'
        tsdiv +='<li>6:打印失败或者试验打印的记录小批量请自行作废处理</li>'
        tsdiv +='<li>7:当客户标签存在流水号,若周期和流水号存在于同一字段里,新周期开始使用不会重码</li>'
        tsdiv +='<li>8:当客户标签存在流水号,且除流水号外无其他变量时，对接使用请联系IT.</li>'
        tsdiv +='<li>9:请输入进行模糊查询字样，可以输入N位数字模糊查询周期,点击下拉框看到查询结果</li>'
        tsdiv +='</ul>'
        tsdiv +='<h1><font color="red">本客户标签特色功能说明：</font></h1>'
        tsdiv +='<ul style="font-size: 18px;">'
        tsdiv +='<li>1:外箱标签大小为100*75，内箱大小为100*50</li>'
        tsdiv +='<li>2:一维码条码暗码字母抬头均已自动添加,不需输入</li>'
        tsdiv +='<li>3:外箱箱号自动生成,补打只只会针对对应箱号</li>'
        tsdiv +='<li>4:外箱下拉选择供应商代码后会自动带出Ship to抬头</li>'
        tsdiv += '<li>5:外箱毛重净重需手动输入,如果同批次存在尾料箱,需要填写尾料箱的净重毛重,这样系统会自动把最后一箱做为尾料箱变动为你填写的尾料箱净重毛重</li>'
        tsdiv += '<li><font color="red">6:周期可以输入俩个周期A周期+空格+B周期(20210710修改)</font></li>'
        tsdiv += '</ul>'
        tsdiv += '</div>'
        if (CookieUtil.get("gbk") == 1) {
        } else {
            addhowtouse(tsdiv);
        }
        
        var gysdm_ary = new Array("SDUS01667", "SPHI0094U", "SPZC36720", "000055203", "SPIH00010", "SP0124080", "SP0004526", "SPH00236R", "SP0003033", "SPU012878")
        var gysdm_arys = new Array("(伟创力深圳)SDUS01667", "(东莞美金伟创力)SPHI0094U", "(伟创力苏州)SPZC36720", "(Flextronics ODM Luxmbourg)000055203", "(印度伟创力)SPIH00010", "(墨西哥伟创力)SP0124080", "(Flextronics Technologies Mexic)SP0004526", "(伟创力南京)SPH00236R", "(伟创力马来西亚)SP0003033", "(珠海伟创力)SPU012878")
        var shipto_ary = new Array("Flextronics Electronics Technology (Shenzhen) Co.,Ltd.", "Power Systems Technologies Ltd.（东莞美金伟创力）", "伟创力电子技术（苏州）有限公司", "370 Debreceni str., Nyiregyhaza, 4405, Hungary", "FPS_CHENNAI, SEZ UNIT,PL #03, PH II, SIPCOT IND PARK,SANDAVELUR C Vi,", "R/L Jones,RL Jones,9630 Plaza Circle,El Paso, TX 79927,UNITED STATES", "Av Lopez Mateos Sur 2915 KM 6.La Tijera,45645 Tlajomulco de Zuniga,MEXICO", "99 PCBA_NANJING,ZHUANG PAI ROAD，JIANNING DEVELOPMENT ZONE，NANJING，CHINA", "Plot 56,Tmn Perindustrian Bkt Minyak,14100 SPT,Tel : Penang, Malaysia.", "Flextronics Manufacturing (Zhuhai) Ltd")
        $("#gysdm").append("<option style='display: none;'></option>")
        for (var i = 0; i < gysdm_ary.length; i++) {
            $("#gysdm").append("<option value=" + gysdm_ary[i] + ">" + gysdm_arys[i] + "</option>")
            $("#zx_gysdm").append("<option value=" + gysdm_ary[i] + ">" + gysdm_arys[i] + "</option>")
        }
        function shipto() {
            for (var i = 0; i < gysdm_ary.length; i++) {
                if (document.getElementById("gysdm").value == gysdm_ary[i]) {
                    document.getElementById("shipto").value = shipto_ary[i];
                }
            }

        }
        function Check() {
            var cnbqywm = document.getElementById("cnbqywm").value;
            $.ajax({
                type: "GET",
                url: '../Datainself/Getdata',
                data: { scph: cnbqywm },
                dataType: "json",
                async: false,  //设置异步，必须先更改对应值才能做后续的传递参数操作
                success: function (data) {
                    //console.log(data.Tables[0].Rows[0]);
                    document.getElementById("ddh").value = data.Tables[0].Rows[0].customer_order_id;
                    document.getElementById("khlh").value = data.Tables[0].Rows[0].customer_goods_id;
                    document.getElementById("aslh").value = data.Tables[0].Rows[0].company_materials_id;
                    document.getElementById("sl").value = data.Tables[0].Rows[0].qty;
                    document.getElementById("scph").value = data.Tables[0].Rows[0].number;
                    document.getElementById("zq").value = data.Tables[0].Rows[0].dc;
                },
                error: function (res) {
                    console.log(res);
                    layer.msg('查询出错或者无数据！', { icon: 0 });
                }
            });
        }
        function CheckZX() {
            var cnbqywm = document.getElementById("zx_cnbqywm").value;
            $.ajax({
                type: "GET",
                url: '../Datainself/Getdata',
                data: { scph: cnbqywm },
                dataType: "json",
                async: false,  //设置异步，必须先更改对应值才能做后续的传递参数操作
                success: function (data) {
                    //console.log(data.Tables[0].Rows[0]);
                    document.getElementById("zx_ddh").value = data.Tables[0].Rows[0].customer_order_id;
                    document.getElementById("zx_khlh").value = data.Tables[0].Rows[0].customer_goods_id;
                    document.getElementById("zx_aslh").value = data.Tables[0].Rows[0].company_materials_id;
                    document.getElementById("zx_sl").value = data.Tables[0].Rows[0].qty;
                    document.getElementById("zx_scph").value = data.Tables[0].Rows[0].number;
                    document.getElementById("zx_zq").value = data.Tables[0].Rows[0].dc;
                },
                error: function (res) {
                    console.log(res);
                    layer.msg('查询出错或者无数据！', { icon: 0 });
                }
            });
        }

        function showmsg() {
            var ddh = document.getElementById("ddh").value;//订单号
            var khlh = document.getElementById("khlh").value;//客户料号
            var aslh = document.getElementById("aslh").value;//AISHI料号
            var gysdm = document.getElementById("gysdm").value;//供应商代码
            var sl = document.getElementById("sl").value;//数量
            var zq = document.getElementById("zq").value;//周期
            var scph = document.getElementById("scph").value;//生产批号
            var shipto = document.getElementById("shipto").value;//发往
            var gw = document.getElementById("gw").value;//毛重
            var nw = document.getElementById("nw").value;//净重

            $("#onecode_ddh").barcode('K' + ddh, 'code128', { barWidth: 1, barHeight: 23, fontSize: 6, showHRI: false });
            $("#onecode_khlh").barcode('P' + khlh, 'code128', { barWidth: 1, barHeight: 23, fontSize: 6, showHRI: false });
            $("#onecode_aslh").barcode('1P' + aslh, 'code128', { barWidth: 1, barHeight: 23, fontSize: 6, showHRI: false });
            $("#onecode_gysdm").barcode(gysdm, 'code128', { barWidth: 1, barHeight: 23, fontSize: 6, showHRI: false });
            $("#onecode_sl").barcode('Q' + sl, 'code128', { barWidth: 1, barHeight: 23, fontSize: 6, showHRI: false });
            $("#onecode_zq").barcode('9D' + zq, 'code128', { barWidth: 1, barHeight: 23, fontSize: 6, showHRI: false });
            $("#onecode_scph").barcode('1T' + scph, 'code128', { barWidth: 1, barHeight: 23, fontSize: 6, showHRI: false });

            $("#ddh_msg").html('<span>(K)Purchase Order Number:</span>' + ddh);
            $("#khlh_msg").html('<span>(P)Customer Product ID:</span>' + khlh);
            $("#aslh_msg").html('<span>(1P)MPN:</span>' + aslh);
            $("#sl_msg").html('<span>(Q)Quantity:</span>' + sl);
            $("#zq_msg").html('<span>(9D)Date Code:</span>' + zq);
            $("#scph_msg").html('<span>(1T)Lot Number:</span>' + scph);
            $("#gysdm_msg").html('<span>Vendor Code:</span>' + gysdm);
            $("#shipto_msg").html(shipto);
            $("#zl_msg").html('<span>Box Weight:</span>'+'GW'+gw+'KG'+'/NW'+nw+'KG');
        }

        function showmsgZX() {
            var ddh = document.getElementById("zx_ddh").value;//订单号
            var khlh = document.getElementById("zx_khlh").value;//客户料号
            var aslh = document.getElementById("zx_aslh").value;//AISHI料号
            var gysdm = document.getElementById("zx_gysdm").value;//供应商代码
            var sl = document.getElementById("zx_sl").value;//数量
            var zq = document.getElementById("zx_zq").value;//周期
            var scph = document.getElementById("zx_scph").value;//生产批号

            $("#zx_onecode_ddh").barcode('K' + ddh, 'code128', { barWidth: 1, barHeight: 18, fontSize: 6, showHRI: false });
            $("#zx_onecode_khlh").barcode('P' + khlh, 'code128', { barWidth: 1, barHeight: 18, fontSize: 6, showHRI: false });
            $("#zx_onecode_aslh").barcode('1P' + aslh, 'code128', { barWidth: 1, barHeight: 18, fontSize: 6, showHRI: false });
            $("#zx_onecode_gysdm").barcode(gysdm, 'code128', { barWidth: 1, barHeight: 18, fontSize: 6, showHRI: false });
            $("#zx_onecode_sl").barcode('Q' + sl, 'code128', { barWidth: 1, barHeight: 18, fontSize: 6, showHRI: false });
            $("#zx_onecode_zq").barcode('9D' + zq, 'code128', { barWidth: 1, barHeight: 18, fontSize: 6, showHRI: false });
            $("#zx_onecode_scph").barcode('1T' + scph, 'code128', { barWidth: 1, barHeight: 18, fontSize: 6, showHRI: false });

            $("#zx_ddh_msg").html('<span>(K)Purchase Order Number:</span>' + ddh);
            $("#zx_khlh_msg").html('<span>(P)Customer Product ID:</span>' + khlh);
            $("#zx_aslh_msg").html('<span>(1P)MPN:</span>' + aslh);
            $("#zx_sl_msg").html('<span>(Q)Quantity:</span>' + sl);
            $("#zx_zq_msg").html('<span>(9D)Date Code:</span>' + zq);
            $("#zx_scph_msg").html('<span>(1T)Lot Number:</span>' + scph);
            $("#zx_gysdm_msg").html('<span>Vendor Code:</span>' + gysdm);
        }
        layui.use(['laypage', 'layer', 'table', 'carousel', 'upload', 'element'], function () {
            var laydate =
            laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            , table = layui.table //表格
            , carousel = layui.carousel //轮播
            , element = layui.element //元素操作
            , form = layui.form //表单


            //向世界问个好
            layer.msg('欢迎使用艾华集团标签打印系统');

            //监听Tab切换
            element.on('tab(demo)', function (data) {
                layer.tips('切换了 ' + data.index + '：' + this.innerHTML, this, {
                    tips: 1
                });
            });
            //执行一个 table 实例
            var renderTable = function () {
                table.render({
                    elem: '#demo'
                  , url: '../Weichuangli/searchprint'
                    //, where: { n_state: document.getElementById("demoReload").value }
                  , filter: true
                  , sort: true
                , colFilterRecord: true
                , toolbar: '#toolbarGroup' //指向自定义工具栏模板选择器
                  , title: '伟创力标签打印记录表'
                      , response: {
                          statusName: 'code' //规定数据状态的字段名称，默认：code
                        , statusCode: 200 //规定成功的状态码，默认：0
                      }
                      , parseData: function (res) { //res 即为原始返回的数据
                          return {
                              "code": res.Tables[0].Code, //解析接口状态s
                              "data": res.Tables[0].Rows, //解析数据列表
                              "msg": res.Tables[0].Name, //解析提示文本
                              "count": res.Tables[1].Rows[0].zongshu, //解析数据长度
                          };
                      }
                      , cols: [[ //表头
                          { type: 'checkbox', fixed: true }
                        , { field: 'n_id', title: '序号', width: 80, fixed: true }
                        , { field: 's_id', title: '唯一标识', width: 110, hide: true }
                        , { field: 's_cnbqywm', title: '厂内标签一维码', width: 170 }
                        , { field: 's_packageType', title: '包装类型', width: 100, templet: function (res) { if (res.s_packageType == '0') return '内箱'; else if (res.s_packageType == '1') return '外箱'; } }
                        , { field: 's_gysdm', title: '供应商代码', width: 100 }
                        , { field: 's_shipto', title: '去往', width: 100 ,hide:true}
                        , { field: 's_ddh', title: '订单号', width: 100}
                        , { field: 's_khlh', title: '客户料号', width: 200 }
                        , { field: 's_aslh', title: 'AISHI料号', width: 200 }
                        , { field: 's_zq', title: '周期', width: 100 }                       
                        , { field: 's_sl', title: '数量', width: 100 }
                        , { field: 's_scph', title: '生产批次', width: 100 }
                        , { field: 's_gw', title: '毛重', width: 100 }
                        , { field: 's_nw', title: '净重', width: 100 }
                        , { field: 's_wlx_gw', title: '尾料箱毛重', width: 100 }
                        , { field: 's_wlx_nw', title: '尾料箱净重', width: 100 }
                        , { field: 's_waternum', title: '流水号_V1', width: 100 }
                        , { field: 's_UserName', title: '创建人', width: 120 }
                        , { field: 's_createtime', title: '创建时间', width: 160 }
                        , { field: 's_GroupName', title: '分厂', width: 140 }
                        , { field: 'n_bdprint', title: '补打标记', width: 120 }
                        , { field: 's_RoleName', title: '权限级别', width: 160, hide: true }
                      ]]
                    , n_id: 'testReload'
                  , page: true
                  , limits: [10, 50, 100, 500, 1000, 5000, 10000]
                });
            }
            renderTable();
            //执行一个轮播实例
            carousel.render({
                elem: '#test1'
              , width: '100%' //设置容器宽度
              , height: 200
              , arrow: 'none' //不显示箭头
              , anim: 'fade' //切换动画方式
            });

            //头工具栏事件
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'zfei':
                        if (checkStatus.data.length > 0) {
                            Zuofei(checkStatus);
                        } else {
                            layer.msg('请选择需要作废的打印记录', { icon: 0 });
                        }
                        break;
                    case 'print_wai':
                        document.getElementById("pint_wai").setAttribute("style", "display:block;");
                        break;
                    case 'print_zx':
                        document.getElementById("pint_zx").setAttribute("style", "display:block;");
                        break;
                    case 'print_bd':
                        //document.getElementById("Printing").setAttribute("style", "display:none;");
                        //document.getElementById("n_Printing").setAttribute("style", "display:none;");
                        if (checkStatus.data.length > 0 && checkStatus.data.length == 1) {
                            Bdprint(checkStatus);
                        }
                        else {
                            layer.msg('请选中需要补打的条码记录，补打功能只支持单条打印！', { icon: 0 });
                        }
                        break;
                    case 'flush':
                        renderTable();
                        break;
                    case 'readhowtouse':
                        addhowtouse(tsdiv);
                        break;
                };
            });

            //伟创力外箱打印事件
            $("#Printing").click(function () {
                var str = document.getElementsByName('ylbd');
                var ylbd = 0;
                if (str[0].checked == true) {
                    ylbd = str[0].value;
                }
                var x = document.getElementById("textarea").getElementsByTagName("input");
                //填写信息是否完整
                for (var i = 0; i < x.length; i++) {
                    if (x[i].value == "" && x[i].id != "wlx_gw" && x[i].id != "wlx_nw") {
                        alert('信息未填写完整');
                        x[i].focus();
                        return false;// 有空值
                    }
                }
                var cnbqywm = document.getElementById("cnbqywm").value;//厂内标签一维码
                var packageType = document.getElementById("packageType").value;//包装类型
                var ddh = document.getElementById("ddh").value;//订单号
                var khlh = document.getElementById("khlh").value;//客户料号
                var aslh = document.getElementById("aslh").value;//AISHI料号
                var gysdm = document.getElementById("gysdm").value;//供应商代码
                var sl = document.getElementById("sl").value;//数量
                var zq = document.getElementById("zq").value;//周期
                var scph = document.getElementById("scph").value;//生产批号
                var shipto = document.getElementById("shipto").value;//发往
                var gw = document.getElementById("gw").value;//毛重
                var nw = document.getElementById("nw").value;//净重
                var wlx_gw = document.getElementById("wlx_gw").value;//尾料箱毛重
                var wlx_nw = document.getElementById("wlx_nw").value;//尾料箱净重
                var num_print = document.getElementById("numcount").value;//打印张数
                if (!confirm("您确定要打印吗?")) return;
                showmsg();
                //添加打印数据数据
                $.ajax({
                    type: "POST",
                    url: "/Weichuangli/AddWeichuangliPrint",
                    data: {
                        cnbqywm: cnbqywm,
                        packageType: packageType,
                        ddh: ddh,
                        khlh: khlh,
                        aslh:aslh,
                        gysdm: gysdm,
                        sl: sl,
                        zq: zq,
                        scph: scph,
                        shipto: shipto,
                        gw: gw,
                        nw: nw,
                        wlx_gw: wlx_gw,
                        wlx_nw: wlx_nw,
                        num_print: num_print,
                        ylbd: ylbd
                    },
                    dataType: "text",
                    success: function (data) {
                        var str = data.substring(3);
                        var arr = str.split(',');
                        if (data.substring(0, 1) > 0) {
                            var num1 = $("#numcount").val();
                            var headstr = "<html><body>";
                            var footstr = "</body></html>";
                            var printData1 = '';
                            var fenye = '<div style="page-break-after:always;"></div>';    //分页


                            for (i = 1 ; i <= num1 ; i++) {
                                $("#xh_msg").html('<span>Box Number:</span>' + i + 'of' + num1);
                                //$('#qrcode').html('');
                                if (i == num1 && wlx_gw != '' && wlx_nw != '') {
                                    $("#zl_msg").html('<span>Box Weight:</span>' + 'GW' + wlx_gw + 'KG' + '/NW' + wlx_nw + 'KG');
                                }
                                printData1 += document.getElementById("PrintArea").innerHTML;
                                if (i != num1 ) {
                                    printData1 = printData1 + fenye;
                                }
                            }

                            var printData = printData1;// 获得 div 里的所有 html 数据
                            document.body.innerHTML = headstr + printData + footstr;

                            // 二维码  一维码 可能是太长了 必须等待 要不然打印出来没有二维码
                            window.setTimeout(function () {
                                location.href = location.href;  //返回主界面
                                window.print();
                            }, 3000);

                        } else if (data.substring(0, 2) == -1) {
                            alert("请不要输入非法字符,如果属于必输内容，请联系IT！");
                        } else {
                            alert("500,打印记录生成失败，本次打印终止。");
                        }
                    },
                    error: function (data) {
                        alert("501,打印记录生成失败，本次打印终止。");
                    }
                })

            })
            //伟创力内箱打印事件
            $("#zx_Printing").click(function () {
                var str = document.getElementsByName('zx_ylbd');
                var ylbd = 0;
                if (str[0].checked == true) {
                    ylbd = str[0].value;
                }
                var x = document.getElementById("zx_textarea").getElementsByTagName("input");
                //填写信息是否完整
                for (var i = 0; i < x.length; i++) {
                    if (x[i].value == "") {
                        alert('信息未填写完整');
                        x[i].focus();
                        return false;// 有空值
                    }
                }
                var cnbqywm = document.getElementById("zx_cnbqywm").value;//厂内标签一维码
                var packageType = document.getElementById("zx_packageType").value;//包装类型
                var ddh = document.getElementById("zx_ddh").value;//订单号
                var khlh = document.getElementById("zx_khlh").value;//客户料号
                var aslh = document.getElementById("zx_aslh").value;//AISHI料号
                var gysdm = document.getElementById("zx_gysdm").value;//供应商代码
                var sl = document.getElementById("zx_sl").value;//数量
                var zq = document.getElementById("zx_zq").value;//周期
                var scph = document.getElementById("zx_scph").value;//生产批号
                var num_print = document.getElementById("zx_numcount").value;//打印张数
                if (!confirm("您确定要打印吗?")) return;
                showmsgZX();
                //添加打印数据数据
                $.ajax({
                    type: "POST",
                    url: "/Weichuangli/AddWeichuangliPrintZX",
                    data: {
                        cnbqywm: cnbqywm,
                        packageType: packageType,
                        ddh: ddh,
                        khlh: khlh,
                        aslh: aslh,
                        gysdm: gysdm,
                        sl: sl,
                        zq: zq,
                        scph: scph,
                        num_print: num_print,
                        ylbd: ylbd
                    },
                    dataType: "text",
                    success: function (data) {
                        var str = data.substring(3);
                        var arr = str.split(',');
                        if (data.substring(0, 1) > 0) {
                            var num1 = $("#zx_numcount").val();
                            var headstr = "<html><body>";
                            var footstr = "</body></html>";
                            var printData1 = '';
                            var fenye = '<div style="page-break-after:always;"></div>';    //分页


                            for (i = 0 ; i < num1 ; i++) {
                                printData1 += document.getElementById("zx_PrintArea").innerHTML;
                                if (i != num1 - 1) {
                                    printData1 = printData1 + fenye;
                                }
                            }

                            var printData = printData1;// 获得 div 里的所有 html 数据
                            document.body.innerHTML = headstr + printData + footstr;

                            // 二维码  一维码 可能是太长了 必须等待 要不然打印出来没有二维码
                            window.setTimeout(function () {
                                location.href = location.href;  //返回主界面
                                window.print();
                            }, 3000);

                        } else if (data.substring(0, 2) == -1) {
                            alert("请不要输入非法字符,如果属于必输内容，请联系IT！");
                        } else {
                            alert("500,打印记录生成失败，本次打印终止。");
                        }
                    },
                    error: function (data) {
                        alert("501,打印记录生成失败，本次打印终止。");
                    }
                })

            })

            //作废打印记录(多选)
            function Zuofei(obj) {
                var str = "";
                var msg = "";
                var l = obj.data.length;
                for (var i = 0; i < l; i++) {
                    str += "'" + obj.data[i].n_id + "',";
                }
                layer.confirm('确定要作废' + l + '条记录吗?', { icon: 2, title: '提示' }, function (index) {
                    layui.jquery.ajax({
                        type: "POST",
                        url: '../Weichuangli/Zuofei',
                        data: { delstr: str },
                        dataType: "JSON",
                        success: function (res) {
                            if (res > 0) {
                                var msg = "成功作废" + res + "条记录！";
                                layer.msg(msg, { icon: 6, time: 1000 }, function () {
                                    layer.close(index);
                                    renderTable();
                                });
                            }
                            else {
                                layer.msg("作废失败", { icon: 5 });
                            }
                        }
                    });
                });
            }

            //补打打印记录(单个)
            function Bdprint(obj) {
                if (obj.data[0].s_packageType == 1) {
                    document.getElementById("pint_wai").setAttribute("style", "display:block;");

                    document.getElementById("cnbqywm").value = obj.data[0].s_cnbqywm;//厂内标签一维码
                    document.getElementById("ddh").value = obj.data[0].s_ddh;//订单号
                    document.getElementById("khlh").value = obj.data[0].s_khlh;//客户料号
                    document.getElementById("aslh").value = obj.data[0].s_aslh;//AISHI料号
                    document.getElementById("gysdm").value = obj.data[0].s_gysdm;//供应商代码
                    document.getElementById("sl").value = obj.data[0].s_sl;//数量
                    document.getElementById("zq").value = obj.data[0].s_zq;//周期
                    document.getElementById("scph").value = obj.data[0].s_scph;//生产批号
                    document.getElementById("shipto").value = obj.data[0].s_shipto;//发往
                    document.getElementById("gw").value = obj.data[0].s_gw;//毛重
                    document.getElementById("nw").value = obj.data[0].s_nw;//净重
                    document.getElementById("wlx_gw").value = obj.data[0].s_wlx_gw;//尾料箱毛重
                    document.getElementById("wlx_nw").value = obj.data[0].s_wlx_nw;//尾料箱净重
                    document.getElementById("numcount").value = 1;//打印张数

                    showmsg();
                    layer.confirm('确定要补打第' + obj.data[0].n_id + '条记录吗?', { icon: 7, title: '提示' }, function (index) {
                        var cnbqywm = document.getElementById("cnbqywm").value;//厂内标签一维码
                        var ddh = document.getElementById("ddh").value;//订单号
                        var khlh = document.getElementById("khlh").value;//客户料号
                        var aslh = document.getElementById("aslh").value;//AISHI料号
                        var gysdm = document.getElementById("gysdm").value;//供应商代码
                        var sl = document.getElementById("sl").value;//数量
                        var zq = document.getElementById("zq").value;//周期
                        var scph = document.getElementById("scph").value;//生产批号
                        var shipto = document.getElementById("shipto").value;//发往
                        var gw = document.getElementById("gw").value;//毛重
                        var nw = document.getElementById("nw").value;//净重
                        var wlx_gw = document.getElementById("wlx_gw").value;//尾料箱毛重
                        var wlx_nw = document.getElementById("wlx_nw").value;//尾料箱净重
                        var xh = (obj.data[0].s_waternum).split("/");
                        var num_print = document.getElementById("numcount").value = 1;//打印张数


                        //更新补打标记
                        $.ajax({
                            type: "POST",
                            url: "/Weichuangli/UpdatetbWeichuangliPrint_BD",
                            data: {
                                id: obj.data[0].n_id
                            },

                            success: function (data) {
                                if (data > 0) {
                                    var num1 = $("#numcount").val();
                                    var headstr = "<html><body>";
                                    var footstr = "</body></html>";
                                    var printData1 = '';
                                    var fenye = '<div style="page-break-after:always;"></div>';    //分页


                                    for (i = 1 ; i <= num1 ; i++) {
                                        $("#xh_msg").html('<span>Box Number:</span>' + xh[0] + 'of' + xh[1]);
                                        if (i == num1 && wlx_gw != '' && wlx_nw != '' && gw == '' && nw == '') {
                                            $("#zl_msg").html('<span>Box Weight:</span>' + 'GW' + wlx_gw + 'KG' + '/NW' + wlx_nw + 'KG');
                                        }


                                        printData1 += document.getElementById("PrintArea").innerHTML;
                                        if (i != num1 ) {
                                            printData1 = printData1 + fenye;
                                        }
                                    }

                                    var printData = printData1;// 获得 div 里的所有 html 数据
                                    document.body.innerHTML = headstr + printData + footstr;

                                    // 二维码  一维码 可能是太长了 必须等待 要不然打印出来没有二维码
                                    window.setTimeout(function () {
                                        location.href = location.href;  //返回主界面
                                        window.print();
                                    }, 3000);

                                } else if (data == -1) {
                                    alert("请不要输入非法字符,如果属于必输内容，请联系IT！");
                                } else {
                                    alert("500,打印记录生成失败，本次打印终止。");
                                }
                            },
                            error: function (data) {
                                alert("501,打印记录生成失败，本次打印终止。");
                            }
                        })

                    })
                } else {
                    document.getElementById("pint_zx").setAttribute("style", "display:block;");

                    document.getElementById("zx_cnbqywm").value = obj.data[0].s_cnbqywm;//厂内标签一维码
                    document.getElementById("zx_ddh").value = obj.data[0].s_ddh;//订单号
                    document.getElementById("zx_khlh").value = obj.data[0].s_khlh;//客户料号
                    document.getElementById("zx_aslh").value = obj.data[0].s_aslh;//AISHI料号
                    document.getElementById("zx_gysdm").value = obj.data[0].s_gysdm;//供应商代码
                    document.getElementById("zx_sl").value = obj.data[0].s_sl;//数量
                    document.getElementById("zx_zq").value = obj.data[0].s_zq;//周期
                    document.getElementById("zx_scph").value = obj.data[0].s_scph;//生产批号
                    document.getElementById("zx_numcount").value = 1;//打印张数
                    showmsgZX();
                    layer.confirm('确定要补打第' + obj.data[0].n_id + '条记录吗?', { icon: 7, title: '提示' }, function (index) {
                        var cnbqywm = document.getElementById("zx_cnbqywm").value;//厂内标签一维码
                        var ddh = document.getElementById("zx_ddh").value;//订单号
                        var khlh = document.getElementById("zx_khlh").value;//客户料号
                        var aslh = document.getElementById("zx_aslh").value;//AISHI料号
                        var gysdm = document.getElementById("zx_gysdm").value;//供应商代码
                        var sl = document.getElementById("zx_sl").value;//数量
                        var zq = document.getElementById("zx_zq").value;//周期
                        var scph = document.getElementById("zx_scph").value;//生产批号
                        var num_print = document.getElementById("zx_numcount").value;//打印张数



                        //更新补打标记
                        $.ajax({
                            type: "POST",
                            url: "/Weichuangli/UpdatetbWeichuangliPrint_BD",
                            data: {
                                id: obj.data[0].n_id
                            },

                            success: function (data) {
                                if (data > 0) {
                                    var num1 = $("#zx_numcount").val();
                                    var headstr = "<html><body>";
                                    var footstr = "</body></html>";
                                    var printData1 = '';
                                    var fenye = '<div style="page-break-after:always;"></div>';    //分页


                                    for (i = 0 ; i < num1 ; i++) {
                                        printData1 += document.getElementById("zx_PrintArea").innerHTML;
                                        if (i != num1 - 1) {
                                            printData1 = printData1 + fenye;
                                        }
                                    }

                                    var printData = printData1;// 获得 div 里的所有 html 数据
                                    document.body.innerHTML = headstr + printData + footstr;

                                    // 二维码  一维码 可能是太长了 必须等待 要不然打印出来没有二维码
                                    window.setTimeout(function () {
                                        location.href = location.href;  //返回主界面
                                        window.print();
                                    }, 3000);

                                } else if (data == -1) {
                                    alert("请不要输入非法字符,如果属于必输内容，请联系IT！");
                                } else {
                                    alert("500,打印记录生成失败，本次打印终止。");
                                }
                            },
                            error: function (data) {
                                alert("501,打印记录生成失败，本次打印终止。");
                            }
                        })

                    })
                }

            }




        });
    </script>
</body>
</html>
