<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>海信0412试流单专用标签打印</title>
    <link rel="stylesheet" href="../../Scripts_UI/layui/css/layui.css" media="all">
    <style>
        body {
        }

        .demo-carousel {
            height: 200px;
            line-height: 200px;
            text-align: center;
        }

        .bot {
            border: 0px solid;
            padding: 5px 25px;
            font-size: 19px;
            margin: 5px 20px;
        }
        .onecode-text {
            text-align: left;
            border: 1px solid #000000;
            font-size: 12px;
        }
        .font {
            font-weight: bold;
            font-size: 12px;
        }

        img[src=""],img:not([src]){
     
              opacity:0;
     
         }
    </style>
</head>
<body>
    <div id="layerDemo" style="margin-bottom: 0;">
        <div class="layui-btn-container" style="display: none;">
            <button data-method="notice" class="layui-btn">弹出标签使用方法以及更新说明</button>
        </div>
    </div>

    <!--海信0412试流单-->
    <div style="width: 100%; height: 430px; display: none" id="pint_wai">
        <div id="textarea" style="width: 400px; height: 360px; margin-top: 20px; line-height: 25px; margin-left: 50px; text-align: right; display: inline-block;">
            <div style="width: 400px;" class="font">
                厂内标签一维码:
				<input id="cnbqywm" type="text" onblur="Check();" />
            </div>
            <div class="font" style="width: 400px;">
                客户类型:
				<select id="haixinType" style="width: 203px;" disabled>
                    <option value="0">海信0412试流单</option>
                </select>
            </div>
            <div class="font" style="width: 400px;">
                供应商代码:
				<select id="gysdm">
                    <option value="35142">35142海信(广东、贵阳、青岛海信电器)电子</option>
                    <option value="202125">202125海信(山东、广东、浙江)空调</option>
                    <option value="101549">101549青岛智动精工电子（广东海信通信）</option>
                </select>
            </div>
            <div style="width: 400px;" class="font">
                客户料号:
				<input id="khlh" type="text" />
            </div>
            <div style="width: 400px;" class="font">
                物料描述:
				<input id="wlms" type="text" />
            </div>
            <div style="width: 400px;" class="font">
                数量:
				<input id="sl" />
            </div>
            <div style="width: 400px;" class="font">
                生产日期:
				<input id="scrq" />
            </div>
            <div style="width: 400px;" class="font">
                QC:
				<input id="qc" value="QC18" />
            </div>
            <div style="width: 400px;" class="font">
                生产批号:
				<input id="scph" />
            </div>
            <div style="width: 400px;" class="font">
                备注:
				<input id="bz" style="width: 240px;" />
            </div>
            <div style="width: 400px;" class="font">
                试流卡编号:
				<input id="slkbh" style="width: 240px;" />
            </div>
            <div style="width: 400px;" class="font">
                打印张数:
				<input type="number" id="numcount" oninput="if(value > 999 || value < 1 ){alert('打印张数范围在1到999之间！');value = ''}" />
            </div>
            <div style="width: 400px;" class="font">
                是否为遗漏补打:
					<label>
                        <input type="checkbox" name="ylbd" value="1">是</label>
            </div>
            <div style="width: 400px; height: 45px; text-align: right;">
                @* <button id="Eliminate" class="bot" style="border: 5px solid #ffd68c; display: inline-block; background-color: orange; color: white;">清空</button>*@
                <button id="Printing" class="bot" style="border: 5px solid #ffd68c; display: inline-block; background-color: seagreen; color: white;">打印</button>
            </div>
        </div>




        <!--右侧打印区域-->
        <div id="PrintArea" style="width: 100mm; height: 100mm; vertical-align: top; display: inline-block; margin-left: 20px; white-space: nowrap; font-family: SimSun,monospace;">
            <!--使用表格显示-->
            <table style="border: thin; width: 96mm; height: 98mm; margin-left: 4px; margin-top: 4px;" rules="rows">
                <tbody>
                    <tr style="height: 19px;">
                        <td colspan="1" class="onecode-text" style="border-right-style: hidden;width:90px;"></td>
                        <td colspan="2" id="titile_msg" class="onecode-text">HuNan Aihua Group CO.,LTD</td>
                    </tr>

                    <tr style="height: 19px;">
                        <td colspan="1" class="onecode-text">Code Number:</td>
                        <td colspan="2" class="onecode-text" id="khlh_msg" style="padding-left:1px;font-weight:bold;font-size:14px;"></td>
                    </tr>

                    <tr style="height: 19px;">
                        <td colspan="1" class="onecode-text">Description:</td>
                        <td colspan="2" class="onecode-text" id="wlms_msg" style="padding-left:1px;"></td>
                    </tr>

                    <tr style="height: 19px;">
                        <td colspan="1" class="onecode-text">Quantity:</td>
                        <td colspan="2" class="onecode-text" id="sl_msg" style="padding-left:1px;font-weight:bold;font-size:14px;"></td>
                    </tr>

                    <tr style="height: 19px;">
                        <td colspan="1" class="onecode-text">Produce date:</td>
                        <td colspan="2" class="onecode-text" id="scrq_msg" style="padding-left:1px;"></td>
                    </tr>

                    <tr style="height: 19px;">
                        <td colspan="1" class="onecode-text">Check:</td>
                        <td colspan="2" class="onecode-text" style="padding-left:1px;">QC18</td>
                    </tr>

                    <tr style="height: 19px;">
                        <td colspan="1" class="onecode-text">Quality:</td>
                        <td colspan="2" class="onecode-text" style="padding-left:1px;">Pass</td>
                    </tr>

                    <tr style="height: 19px;">
                        <td colspan="1" class="onecode-text">Batch:</td>
                        <td colspan="2" class="onecode-text" id="scph_msg" style="padding-left:1px;"></td>
                    </tr>

                    <tr style="height: 19px;">
                        <td colspan="1" class="onecode-text">Remark:</td>
                        <td colspan="2" class="onecode-text" id="bz_msg" style="padding-left:1px;"></td>
                    </tr>

                    <tr style="height: 19px;">
                        <td colspan="3" class="onecode-text" style="text-align: right; padding-right: 10px;">Exemption from Inspection </td>
                    </tr>

                    <tr style="height: 38px;">
                        <td colspan="3" id="onecode-wl" style="border: 1px solid #000000; border-right-style: solid; border-left-style: solid; border-bottom-style: hidden;"></td>
                    </tr>

                    <tr style="height: 19px;">
                        <td colspan="3" id="onecode-wl_msg" style="border: 1px solid #000000; border-right-style: solid; border-left-style: solid; padding-left: 10px; border-bottom-style: hidden;"></td>
                    </tr>

                    <tr style="height: 38px;">
                        <td colspan="3" id="onecode-sl" style="border: 1px solid #000000; border-right-style: solid; border-left-style: solid; border-bottom-style: hidden;"></td>
                    </tr>

                    <tr style="height: 19px;">
                        <td colspan="3" id="onecode-sl_msg" style="border: 1px solid #000000; border-right-style: solid; padding-left: 10px;"></td>
                    </tr>

                    <tr style="height: 66px;">
                        <td colspan="1" class="onecode-text" style="border-right-style: hidden;">
                            <div id="scy_msg" style="border: 3px solid;font-size: 17px; font-weight: bold; margin:0 auto;padding: 10px 15px 10px 15px;width: 40px;"></div>
                        </td>
                        <td colspan="1" class="onecode-text" style="width:130px;">
                            <div style="display: inline-block;"><img style="width:60px;height:60px;" src="../../Images/img/海信环保标识.png" /></div>
                            
                            <div style="width: 60px; margin: 0 auto;display: inline-block;" id="qrcode" class="qrcode"></div>
                        </td>                        
                        <td colspan="1" class="onecode-text" style="border-left-style:hidden;width:120px;">
                            <div style="border: 3px solid; margin:0 auto;padding: 10px 15px 10px 15px;font-weight:bold;font-size:20px;width: 75px;">试 流 品</div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>



    </div>

    <!-- layui 打印记录表-->
    <table id="demo" lay-filter="test"></table>

    <div class="layui-tab layui-tab-brief" lay-filter="demo">
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">

                <div class="layui-carousel" id="test1">
                    <div carousel-item>
                        <div>
                            <p class="layui-bg-green demo-carousel">本后台系统UI为layui！</p>
                        </div>
                        <div>
                            <p class="layui-bg-red demo-carousel">本系统不适用谷歌浏览器请勿用谷歌浏览器进行标签打印</p>
                        </div>
                        <div>
                            <p class="layui-bg-blue demo-carousel">有任何使用上的问题即时反馈</p>
                        </div>
                        <div>
                            <p class="layui-bg-orange demo-carousel">后续功能正在增加完善中</p>
                        </div>
                        <div>
                            <p class="layui-bg-cyan demo-carousel">多沟通！多沟通！多沟通！重要的事情说三遍</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script type="text/html" id="toolbarGroup">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm layui-icon" lay-event="zfei">&#x1007;作废</button>
            <button class="layui-btn layui-btn-sm layui-icon" lay-event="print_wai">&#xe66d;海信0412试流单打印</button>
@*            <button class="layui-btn layui-btn-sm layui-icon" lay-event="print_zx">&#xe66d;海信空调内外最小箱打印</button>
            <button class="layui-btn layui-btn-sm layui-icon" lay-event="print_all">&#xe66d;海信二合一内外最小箱打印</button>*@
            <button class="layui-btn layui-btn-sm layui-icon" lay-event="print_bd">&#xe66d;破损补打</button>
            <button class="layui-btn layui-btn-sm layui-icon" lay-event="flush">&#xe669;刷新</button>
            <button class="layui-btn layui-btn-sm layui-icon" lay-event="readhowtouse">&#xe702;帮助说明</button>
        </div>
    </script>

    <script src="../../Scripts_UI/layui/layui.all.js" charset="utf-8"></script>
    <script src="../../Scripts/jquery-2.1.1.min.js" charset="utf-8"></script>
    <script src="../../Scripts/jquery-barcode-2.0.2.min.js" charset="utf-8"></script>
    <script src="../../Scripts/barcode.js" charset="utf-8"></script>
    <script src="../../Scripts/xybself.js?version=1.1" charset="utf-8"></script>
    <script>
        layui.config({
            version: '1594038786020' //为了更新 js 缓存，可忽略
        });
        var tsdiv = '<div style="padding: 10px; line-height: 21px; background-color: #C8C8C8; color: #000; font-weight: 490;">'
        tsdiv += '<h1>标签打印通用使用方法：</h1>'
        tsdiv += '<ul style="font-size: 18px;">'
        tsdiv += '<li>1:鼠标光标移至厂内标签一维码后输入框内,通过USB扫描枪扫描厂内合格证一维码</li>'
        tsdiv += '<li>2:扫描出一维码信息后鼠标移出输入框任意区域点击即可</li>'
        tsdiv += '<li>3:系统自动查询出相关信息后，空白没有信息的输入框需要手动输入</li>'
        tsdiv += '<li>4:遗漏补打,会自动新增一条标记为补打的新记录,不适用于不能断码标签.</li>'
        tsdiv += '<li>5:破损补打需要选中一条记录,补打完后，该记录会标记为补打状态.</li>'
        tsdiv += '<li>6:打印失败或者试验打印的记录小批量请自行作废处理</li>'
        tsdiv += '<li>7:当客户标签存在流水号,若周期和流水号存在于同一字段里,新周期开始使用不会重码</li>'
        tsdiv += '<li>8:当客户标签存在流水号,且除流水号外无其他变量时，对接使用请联系IT.</li>'
        tsdiv += '<li>9:请输入进行模糊查询字样，可以输入N位数字模糊查询周期,点击下拉框看到查询结果</li>'
        tsdiv += '</ul>'
        tsdiv += '<h1><font color="red">本客户标签特色功能说明：</font></h1>'
        tsdiv += '<ul style="font-size: 18px;">'
        tsdiv += '<li>1:供应商代码与实际不符时，通过下拉可以切换，需要添加时联系IT</li>'
        tsdiv += '<li>2:试流单的试流卡编号需要手动输入(客户提供)</li>'
        tsdiv += '<li>3:</li>'
        tsdiv += '<li>4:</li>'
        tsdiv += '<li>5:</li>'
        tsdiv += '<li>6:</li>'
        tsdiv += '</ul>'
        tsdiv += '</div>'
        if (CookieUtil.get("gbk") == 1) {
        } else {
            addhowtouse(tsdiv);
        }

        function Check() {
            var cnbqywm = document.getElementById("cnbqywm").value;
            $.ajax({
                type: "GET",
                url: '../Datainself/Getdata',
                data: { scph: cnbqywm },
                dataType: "json",
                async: false,  //设置异步，必须先更改对应值才能做后续的传递参数操作
                success: function (data) {
                    //console.log(data.Tables[0].Rows[0]);
                    document.getElementById("khlh").value = data.Tables[0].Rows[0].customer_goods_id;
                    var curTime = new Date(data.Tables[0].Rows[0].datetime_source).format("yyyy/MM/dd"); //因为有xybself.js的方法
                    document.getElementById("scrq").value = curTime;
                    document.getElementById("wlms").value = data.Tables[0].Rows[0].customer_goods_name;
                    document.getElementById("sl").value = data.Tables[0].Rows[0].qty;
                    document.getElementById("scph").value = data.Tables[0].Rows[0].number;
                    document.getElementById("bz").value = data.Tables[0].Rows[0].goods_name + ' ' + data.Tables[0].Rows[0].size_id + ' ' + data.Tables[0].Rows[0].terminal;
                },
                error: function (res) {
                    console.log(res);
                    layer.msg('查询出错或者无数据！', { icon: 0 });
                }
            });
        }
        function showmsg() {
            var khlh = document.getElementById("khlh").value;//Code Number：客户料号
            var wlms = document.getElementById("wlms").value;//Description：物料描述
            var scrq = document.getElementById("scrq").value;//Produce date：生产日期
            var sl = document.getElementById("sl").value;//Quantity：数量
            var qc = document.getElementById("qc").value;//Check：检验员
            var scph = document.getElementById("scph").value;//Batch:生产批号
            var bz = document.getElementById("bz").value;//Remark：备注
            var slkbh = document.getElementById("slkbh").value;//Remark：试流卡编号
            var arr = scrq.split('/');
            var gysdm = document.getElementById("gysdm").value;

            $("#onecode-sl").barcode(sl+'-'+slkbh, 'code128', { barWidth: 1, barHeight: 32, fontSize: 6, showHRI: false });

            $("#khlh_msg").html(khlh);
            $("#wlms_msg").html(wlms);
            $("#scrq_msg").html(scrq);
            $("#sl_msg").html(sl);
            $("#onecode-sl_msg").html(sl + '-' + slkbh);
            $("#qc_msg").html(qc);
            $("#scph_msg").html(scph);
            $("#bz_msg").html(bz);
            $("#scy_msg").html(arr[1] + "月");
            $("#titile_msg").html("【"+gysdm +"】"+ " HuNan Aihua Group CO.,LTD");
        }

        layui.use(['laypage', 'layer', 'table', 'carousel', 'upload', 'element'], function () {
            var laydate =
            laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            , table = layui.table //表格
            , carousel = layui.carousel //轮播
            , element = layui.element //元素操作
            , form = layui.form //表单

            //向世界问个好
            layer.msg('欢迎使用艾华集团标签打印系统');

            //监听Tab切换
            element.on('tab(demo)', function (data) {
                layer.tips('切换了 ' + data.index + '：' + this.innerHTML, this, {
                    tips: 1
                });
            });


            //执行一个 table 实例
            var renderTable = function () {
                table.render({
                    elem: '#demo'
                  , url: '../Haixinsl0412/searchprint'
                    //, where: { n_state: document.getElementById("demoReload").value }
                  , filter: true
                  , sort: true
                , colFilterRecord: true
                , toolbar: '#toolbarGroup' //指向自定义工具栏模板选择器
                  , title: '海信0412试流单标签打印记录表'
                      , response: {
                          statusName: 'code' //规定数据状态的字段名称，默认：code
                        , statusCode: 200 //规定成功的状态码，默认：0
                      }
                      , parseData: function (res) { //res 即为原始返回的数据
                          return {
                              "code": res.Tables[0].Code, //解析接口状态s
                              "data": res.Tables[0].Rows, //解析数据列表
                              "msg": res.Tables[0].Name, //解析提示文本
                              "count": res.Tables[1].Rows[0].zongshu, //解析数据长度
                          };
                      }
                      , cols: [[ //表头
                          { type: 'checkbox', fixed: true }
                        , { field: 'n_id', title: '序号', width: 80, fixed: true }
                        , { field: 's_id', title: '唯一标识', width: 110, hide: true }
                        , { field: 's_cnbqywm', title: '厂内标签一维码', width: 170 }
                        , { field: 's_haixinType', title: '海信类别', width: 100, templet: function (res) { if (res.s_haixinType == '0') return '海信0412试流单'; } }
                        , { field: 's_onecodemsg', title: '一维码信息', width: 225 }
                        , { field: 's_qrcodemsg', title: '二维码信息', width: 225 }
                        , { field: 's_slkbh', title: '试流卡编号', width: 160 }
                        , { field: 's_gysdm', title: '供应商代码', width: 100 }
                        , { field: 's_khlh', title: '客户料号', width: 100 }
                        , { field: 's_wlms', title: '物料描述', width: 190 }
                        , { field: 's_sl', title: '数量', width: 100 }
                        , { field: 's_scrq', title: '生产日期', width: 110 }
                        , { field: 's_qc', title: '质检员', width: 90 }
                        , { field: 's_scph', title: '生产批号', width: 120 }
                        , { field: 's_bz', title: '备注', width: 160 }
                        , { field: 's_waternum', title: '流水号_V1', width: 100 }
                        , { field: 's_UserName', title: '创建人', width: 120 }
                        , { field: 's_createtime', title: '创建时间', width: 160 }
                        , { field: 's_GroupName', title: '分厂', width: 140 }
                        , { field: 'n_bdprint', title: '补打标记', width: 120 }
                        , { field: 's_RoleName', title: '权限级别', width: 160, hide: true }
                      ]]
                    , n_id: 'testReload'
                  , page: true
                  , limits: [10, 50, 100, 500, 1000, 5000, 10000]
                });
            }
            renderTable();
            //执行一个轮播实例
            carousel.render({
                elem: '#test1'
              , width: '100%' //设置容器宽度
              , height: 200
              , arrow: 'none' //不显示箭头
              , anim: 'fade' //切换动画方式
            });

            //头工具栏事件
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'zfei':
                        if (checkStatus.data.length > 0) {
                            Zuofei(checkStatus);
                        } else {
                            layer.msg('请选择需要作废的打印记录', { icon: 0 });
                        }
                        break;
                    case 'print_wai':
                        document.getElementById("pint_wai").setAttribute("style", "display:block;");
                        break;
                    //case 'print_zx':
                    //    document.getElementById("pint_zx").setAttribute("style", "display:block;");
                    //    break;
                    //case 'print_all':
                    //    document.getElementById("pint_all").setAttribute("style", "display:block;");
                    //    break;
                    case 'print_bd':
                        //document.getElementById("Printing").setAttribute("style", "display:none;");
                        //document.getElementById("n_Printing").setAttribute("style", "display:none;");
                        if (checkStatus.data.length > 0 && checkStatus.data.length == 1) {
                            Bdprint(checkStatus);
                        }
                        else {
                            layer.msg('请选中需要补打的条码记录，补打功能只支持单条打印！', { icon: 0 });
                        }
                        break;
                    case 'flush':
                        renderTable();
                        break;
                    case 'readhowtouse':
                        addhowtouse(tsdiv);
                        break;

                };
            });
            //海信电子内外最小箱打印事件
            $("#Printing").click(function () {
                var str = document.getElementsByName('ylbd');
                var ylbd = 0;
                if (str[0].checked == true) {
                    ylbd = str[0].value;
                }
                //选择外箱打印，只支持一次性打完外箱标签
                var x = document.getElementById("textarea").getElementsByTagName("input");
                //填写信息是否完整
                for (var i = 0; i < x.length; i++) {
                    if (x[i].value == "") {
                        alert('信息未填写完整');
                        x[i].focus();
                        return false;// 有空值
                    }
                }
                var gysdm = document.getElementById("gysdm").value;//供应商代码
                var haixinType = document.getElementById("haixinType").value;//供应商类别
                var khlh = document.getElementById("khlh").value;//Code Number：客户料号
                var wlms = document.getElementById("wlms").value;//Description：物料描述
                var scrq = document.getElementById("scrq").value;//Produce date：生产日期
                var sl = document.getElementById("sl").value;//Quantity：数量
                var qc = document.getElementById("qc").value;//Check：检验员
                var scph = document.getElementById("scph").value;//Batch:生产批号
                var bz = document.getElementById("bz").value;//Remark：备注
                var slkbh = document.getElementById("slkbh").value;//Remark：试流卡编号
                var cnbqywm = document.getElementById("cnbqywm").value;//厂内标签一维码
                var num_print = document.getElementById("numcount").value;//打印张数
                if (!confirm("您确定要打印吗?")) return;
                showmsg();
                //添加外箱打印数据数据
                $.ajax({
                    type: "POST",
                    url: "/Haixinsl0412/AddHaixinPrint",
                    data: {
                        gysdm: gysdm,
                        haixinType: haixinType,
                        khlh: khlh,
                        wlms: wlms,
                        scrq: scrq,
                        sl: sl,
                        qc: qc,
                        scph: scph,
                        bz: bz,
                        slkbh:slkbh,
                        num_print: num_print,
                        ylbd: ylbd,
                        cnbqywm: cnbqywm
                    },
                    dataType: "text",
                    success: function (data) {
                        var str = data.substring(7);
                        var scrq_32 = data.substring(2, 6);
                        var arr = str.split(',');
                        if (data.substring(0, 1) > 0) {
                            var num1 = $("#numcount").val();
                            var headstr = "<html><body>";
                            var footstr = "</body></html>";
                            var printData1 = '';
                            var fenye = '<div style="page-break-after:always;"></div>';    //分页


                            for (i = 0 ; i < num1 ; i++) {
                                var onecodemsg = gysdm + '-' + khlh + '-' + scrq_32 + '-' + arr[i];                                
                                $("#onecode-wl").barcode(onecodemsg, 'code128', { barWidth: 1, barHeight: 32, fontSize: 6, showHRI: false });
                                $("#onecode-wl_msg").html(onecodemsg);
                                $('#qrcode').html('');
                                //二维码规则
                                var codemsg = gysdm + '-' + khlh + '-' + scrq_32 + '-' + arr[i] + '-' + sl + '-' + slkbh;
                                qrcode = new QRCode(document.getElementById("qrcode"), {
                                    text: codemsg,
                                    width: 60, //设置宽高
                                    height: 60,
                                    correctLevel: 1,

                                });
                                //能抓到第一个【0】的canvas转成IMG IMG 但是格式不对

                                var img = $("#qrcode").find("canvas")[0].toDataURL("image/png");
                                $("#qrcode").find("canvas").attr('style', 'display:none');
                                $("#qrcode").find("img").attr('src', img);
                                $("#qrcode").find("img").attr('style', 'display:inline-block');
                                printData1 += document.getElementById("PrintArea").innerHTML;
                                if (i != num1 - 1) {
                                    printData1 = printData1 + fenye;
                                }
                            }

                            var printData = printData1;// 获得 div 里的所有 html 数据
                            document.body.innerHTML = headstr + printData + footstr;

                            // 二维码  一维码 可能是太长了 必须等待 要不然打印出来没有二维码
                            window.setTimeout(function () {
                                location.href = location.href;  //返回主界面
                                window.print();
                            }, 3000);

                        } else if (data.substring(0, 2) == -1) {
                            alert("请不要输入非法字符,如果属于必输内容，请联系IT！");
                        } else {
                            alert("500,打印记录生成失败，本次打印终止。");
                        }
                    },
                    error: function (data) {
                        alert("501,打印记录生成失败，本次打印终止。");
                    }
                })

            })
      //作废打印记录(多选)
            function Zuofei(obj) {
                var str = "";
                var msg = "";
                var l = obj.data.length;
                for (var i = 0; i < l; i++) {
                    str += "'" + obj.data[i].n_id + "',";
                }
                layer.confirm('确定要作废' + l + '条记录吗?', { icon: 2, title: '提示' }, function (index) {
                    layui.jquery.ajax({
                        type: "POST",
                        url: '../Haixinsl0412/Zuofei',
                        data: { delstr: str },
                        dataType: "JSON",
                        success: function (res) {
                            if (res > 0) {
                                var msg = "成功作废" + res + "条记录！";
                                layer.msg(msg, { icon: 6, time: 1000 }, function () {
                                    layer.close(index);
                                    renderTable();
                                });
                            }
                            else {
                                layer.msg("作废失败", { icon: 5 });
                            }
                        }
                    });
                });
            }
            //补打打印记录(单个)
            function Bdprint(obj) {
                    document.getElementById("pint_wai").setAttribute("style", "display:block;");

                    document.getElementById("cnbqywm").value = obj.data[0].s_cnbqywm; //厂内标签一维码
                    document.getElementById("gysdm").value = obj.data[0].s_gysdm; //供应商代码
                    document.getElementById("khlh").value = obj.data[0].s_khlh;//Code Number：客户料号
                    document.getElementById("wlms").value = obj.data[0].s_wlms;//Description：物料描述
                    document.getElementById("scrq").value = obj.data[0].s_scrq;//Produce date：生产日期
                    document.getElementById("sl").value = obj.data[0].s_sl;//Quantity：数量
                    document.getElementById("qc").value = obj.data[0].s_qc;//Check：检验员
                    document.getElementById("scph").value = obj.data[0].s_scph;//Batch:生产批号
                    document.getElementById("bz").value = obj.data[0].s_bz;//Remark：备注
                    document.getElementById("slkbh").value = obj.data[0].s_slkbh;//Remark：试流卡编号
                    document.getElementById("numcount").value = 1;

                    showmsg();
                    layer.confirm('确定要补打第' + obj.data[0].n_id + '条记录吗?', { icon: 7, title: '提示' }, function (index) {
                        var gysdm = document.getElementById("gysdm").value;//供应商代码
                        var khlh = document.getElementById("khlh").value;//Code Number：客户料号
                        var wlms = document.getElementById("wlms").value;//Description：物料描述
                        var scrq = document.getElementById("scrq").value;//Produce date：生产日期
                        var sl = document.getElementById("sl").value;//Quantity：数量
                        var qc = document.getElementById("qc").value;//Check：检验员
                        var scph = document.getElementById("scph").value;//Batch:生产批号
                        var bz = document.getElementById("bz").value;//Remark：备注
                        var sslkbh = document.getElementById("slkbh").value;//Remark：试流卡编号
                        var cnbqywm = document.getElementById("cnbqywm").value;//厂内标签一维码
                        var num_print = document.getElementById("numcount").value;//打印张数
                        var onecodemsg = obj.data[0].s_onecodemsg;
                        var codemsg = obj.data[0].s_qrcodemsg;



                        //更新补打标记
                        $.ajax({
                            type: "POST",
                            url: "/Haixinsl0412/UpdateHaixinPrint_BD",
                            data: {
                                id: obj.data[0].n_id
                            },

                            success: function (data) {
                                if (data > 0) {
                                    var num1 = $("#numcount").val();
                                    var headstr = "<html><body>";
                                    var footstr = "</body></html>";
                                    var printData1 = '';
                                    var fenye = '<div style="page-break-after:always;"></div>';    //分页


                                    for (i = 0 ; i < num1 ; i++) {
                                        $("#onecode-wl").barcode(onecodemsg, 'code128', { barWidth: 1, barHeight: 32, fontSize: 6, showHRI: false });
                                        $("#onecode-wl_msg").html(onecodemsg);
                                        $('#qrcode').html('');
                                        //二维码规则
                                        qrcode = new QRCode(document.getElementById("qrcode"), {
                                            text: codemsg,
                                            width: 60, //设置宽高
                                            height: 60,
                                            correctLevel: 1,

                                        });
                                        //能抓到第一个【0】的canvas转成IMG IMG 但是格式不对

                                        var img = $("#qrcode").find("canvas")[0].toDataURL("image/png");
                                        $("#qrcode").find("canvas").attr('style', 'display:none');
                                        $("#qrcode").find("img").attr('src', img);
                                        $("#qrcode").find("img").attr('style', 'display:inline-block');
                                        printData1 += document.getElementById("PrintArea").innerHTML;
                                        if (i != num1 - 1) {
                                            printData1 = printData1 + fenye;
                                        }
                                    }

                                    var printData = printData1;// 获得 div 里的所有 html 数据
                                    document.body.innerHTML = headstr + printData + footstr;

                                    // 二维码  一维码 可能是太长了 必须等待 要不然打印出来没有二维码
                                    window.setTimeout(function () {
                                        location.href = location.href;  //返回主界面
                                        window.print();
                                    }, 3000);

                                } else if (data == -1) {
                                    alert("请不要输入非法字符,如果属于必输内容，请联系IT！");
                                } else {
                                    alert("500,打印记录生成失败，本次打印终止。");
                                }
                            },
                            error: function (data) {
                                alert("501,打印记录生成失败，本次打印终止。");
                            }
                        })

                    })

            }





        });
    </script>
</body>
</html>
